<h1>Test Edytora</h1>
<p>Witaj na stronie głównej</p>
<div class="code-editor" id="editorTest"></div>
<script type="application/javascript">
    jQuery(function(){
        apkiOrg.initEditor('typescript');
//        apkiOrg.getEditor().disableRange(0, 0, 4, 0);
    });
</script>