<p id="notice"><%= notice %></p>

<p>
  <strong>Data:</strong>
  <%= @course_exercise.data %>
</p>

<%= link_to 'Edit', edit_course_exercise_path(@course_exercise) %> |
<%= link_to 'Back', course_exercises_path %>
