<p id="notice"><%= notice %></p>

<p>
  <strong>Data:</strong>
  <%= @course_course_datum.data %>
</p>

<%= link_to 'Edit', edit_course_course_datum_path(@course_course_datum) %> |
<%= link_to 'Back', course_course_data_path %>
