<p id="notice"><%= notice %></p>

<p>
  <strong>Data:</strong>
  <%= @course_achievement.data %>
</p>

<%= link_to 'Edit', edit_course_achievement_path(@course_achievement) %> |
<%= link_to 'Back', course_achievements_path %>
