<% content_for :title, " - Edytowanie projektu: " + @project.title %>

<h2 class="text-center mrg20t" style="margin-bottom:50px;margin-bottom:60px">Edytowanie projektu "<%= @project.title %>"</h2>

<%= render 'form_edit' %>


