<h3>Profil szkoły: <%= @school.name -%></h3>

<%= raw parse_markdown(@school.description) if @school.description-%>

<h4>Nauczyciel:</h4>
<%= link_to @school.user.nickname, profile_view_path(@school.user) -%>

<h4>Lista uczniów:</h4>
<ul>
  <%- @school.students.where(school_accepted: true).each do |user| -%>
    <li><%= link_to user.nickname, profile_view_path(user) -%></li>
  <%- end -%>
</ul>
