<div id="staticContent">

  <h1 class="text-center">O serwisie</h1>

  <p class="text-justify">Platforma apki.org to pierwsza w Polsce interaktywna platforma do nauki programowania.  W najbliższym czasie uruchomione zostaną kursy z języków Python, Javascript, C#, Ruby.  Jednak apki.org to nie tylko możliwość nauki poprzez kursy, ale także bezpośredni kontakt z doświadczonymi programistami i wymiana opinii poprzez forum.apki.org. Na platformie w najbliższym czasie pojawią się także materiały edukacyjne oraz tzw. baza wiedzy, która będzie sukcesywnie aktualizowana.</p>

  <p class="text-justify">Dla kogo jest nasza platforma? Przede wszystkim dla każdego, kto ma ochotę nauczyć się jakiegokolwiek języka programowania. Na naszej aplikacji miejsce znajdzie zarówno osoba, która nie miała dotychczas styczności z programowaniem jak i programista, który chciałby poszerzyć swą wiedzę.</p>

  <p class="text-justify">Apki.org zostało stworzone i jest prowadzone przez fundację Media 3.0. Naszą misją jest budowanie społeczeństwa informacyjnego oraz dbanie o otwartość  i przejrzystość życia publicznego, dlatego na naszej platformie staramy się podkreślać możliwości wykorzystywania narzędzi webowych czy mobilnych do rozwiązywania problemów społecznych czy to w formie komercyjnego projektu czy działań non-profit.</p>

  <p class="text-justify">Serwis aktualnie znajduje się w wersji Beta, dlatego prosimy o wszelkiego typu informację zwrotną, uwagi lub propozycje kierować poprzez naszą stronę kontaktową</p>
</div>