<% content_for :title, " - O projekcie" %>

<div id="staticContent">

  <h1 class="text-center">O projekcie</h1>

  <p class="text-justify">Projekt “Akadamia 3.0 - apki.org” to przedsięwzięcie edukacyjne z zakresu nowych technologii. Przedsięwzięcie jest skierowane przede wszystkim do uczniów i uczennic szkół ponadgimnazjalnych z terenu całego kraju oraz wszystkich osób zainteresowanych nauką programowania w trybie kursów online.
  Powołana do życia Akademia 3.0 ma w swoim zamierzeniu wykreować społeczność osób interesujących się aplikacjami mobilnymi czy webowymi i zainteresowanych ciągłym poszerzaniem swej wiedzy. W związku z tym, zespół specjalistów IT wypracował koncepcję kursów programowania i stworzył profesjonalną platformę kursową apki.org przeznaczoną do nauki, wymiany doświadczeń, konsultacji z programistami i tworzenia społeczności.
  Platforma kursowa została wyposażona w kursy z zakresu: RubyonRails, Javascript, Python, C#, JavascriptAPI oraz dopełniona szczegółowymi wyjaśnieniami podstaw programowania w nowoczesnym podręczniku “Programuj apki”.
  Platforma apki.org jest platformą otwartą.</p>

  <p class="text-justify">W projekcie uczestniczy 16 szkół ponadgimnazjalnych, w których powstały uczniowskie kluby Lab 3.0, prowadzone przez przeszkolonych Edukatorów. Edukatorzy oraz młodzież uczestnicząca w projekcie mogą korzystać z mentoringu prowadzonego przez programistów Fundacji Media 3.0 w zakresie programowania i prowadzenia labów. Ponadto, w ramach projektu zostanie ogłoszony konkurs na aplikację, dzięki któremu uczestnicy projektu będą mogli wykazać się jako programiści, wzajemnie oceniać swoją pracę i otrzymać atrakcyjne nagrody.</p>

  <p>Projekt jest realizowany od 15 maja 2015 r. do 15 grudnia 2015 r. dzięki dofinansowaniu Ministerstwa Administracji i Cyfryzacji w ramach zadania publicznego „Nowatorskie inicjatywy na rzecz rozwoju umiejętności programowania oraz budowania kapitału społecznego z wykorzystaniem technologii informacyjno­komunikacyjnych”.</p>


</div>