<% content_for :title, "   Rozdział VI Zarządzanie projektem - przeprowadzenie projektu przez procesy związane z zarządzaniem" %>

<div id="staticContent">
    <h1 class = "chapter">
        Rozdział VI Zarządzanie projektem - przeprowadzenie projektu przez procesy związane z zarządzaniem
    </h1>


    <p>
        /prof. Marlena Plebańska/
    </p>


    <p>
        Przystępując do pracy nad pierwszym projektem warto dobrze zaplanować realizację wszystkich zadań, dobry plan oraz metodyczne podejście do pracy nad
        projektem pozwoli na uniknięcie wielu trudności w jego realizacji. Stworzenie aplikacji to projekt, który może przybierać w zależności od stopnia
        złożoności oraz zaawansowania aplikacji różnorodne rozmiary i formy. Niezależnie jednak od tego jak duża i złożona aplikacja będzie efektem projektu
        jej powstawanie powinno zostać zaplanowane, zrealizowane oraz zewaluowane zgodnie z wybraną metodyką zarządzania projektem. Dlaczego?
    </p>


    <p>
        Podstawą do stworzenia ciekawej, potrzebnej, również sprzedającej się aplikacji jest dobra koncepcja. Koncepcja ta powinna zostać przedyskutowana w
        zespole projektowym, zweryfikowana z rynkiem, a potrzeba, cele jej realizacji oraz zakres funkcjonalny powinny zostać poparte badaniem potrzeb. Jeżeli
        aplikacja jest tworzona przez uczniów mini badanie potrzeb może zostać przeprowadzone w szkole, wśród rówieśników i nauczycieli. Projekt aplikacji to
        praca zespołowa wymagająca współpracy uczniów specjalizujących się w różnych dziedzinach informatyki: programistów, grafików, testerów itp. Każdy z
        uczniów w projekcie „pierwsza aplikacja" odpowiedzialny jest za inną grupę zadań, a koordynacja pracy bez zastosowania odpowiednich zasad zarządzania
        projektem może okazać się bardzo trudna. Każdy zespół projektowy również zespół projektowy w projekcie „pierwsza aplikacja" potrzebuje lidera, który
        zorganizuje wszelkie działania projektowe, stworzy zespół projektowy, zaplanuje prace, dopilnuje aby zadania zostały wykonane w terminie zgodnie z
        harmonogramem, z należytą jakością, zadba o komunikację pomiędzy członkami zespołu projektowego, zapewni przestrzeń do dyskusji, zadba o testowanie
        prototypu projektu ect. Aby działania te były możliwe, efektywne warto korzystać ze sprawdzonych metodyk zarządzania projektami. Podobnie jak wielkie
        przedsiębiorstwa, uczniowie w swoich projektach muszą zadbać o odpowiednie warunki prowadzenia projektów oraz przestrzeganie zasad prowadzenia
        projektów w przeciwnym razie nawet najciekawsze, innowacyjne pomysły mogą zostać błędnie zrealizowane lub ich realizacja może nie zostać doprowadzona
        do końca. Warto pamiętać, iż projekt podlega stałej zmianie, ewoluuje, dotyczy to wszystkich projektów zwłaszcza informatycznych. Często efekty
        realizacji poszczególnych etapów wymuszają modyfikację kolejnych etapów, czy też poszczególnych funkcjonalności, założeń, specyfikacji projektowych,
        właśnie w takich sytuacjach harmonogram projektu, dokładny plan działań , metodyka prowadzenia projektu pomogą sprawnie opanować sytuację i doprowadzić
        projekt do końca z sukcesem.
    </p>


    
        <p>
            Stosowanie metodyk, zasad zarządzania projektem przez uczniów w projektach szkolnych wprowadza uczniów również w warunki rynkowe. Każda firma
            informatyczna kreuje bowiem produkty i usługi w oparciu o profesjonalne, uporządkowane metodyki. Uczniowie stosujący metodyki zarządzania
            projektami już w szkole będą zatem lepiej przygotowani do pracy zawodowej, zdobędą dodatkowe kompetencje, które pomogą im uzyskać przewagę
            konkurencyjną na rynku pracy.
        </p>
    
    
    
    
        <h2 class = "title">
            VI.1. Czym jest projekt?
        </h2>
    
    
        <p>
            Projekt możemy rozumieć bardzo różnorodnie, jako zbiór różnorodnych zasobów zorganizowany w celu osiągnięcia pewnego określonego celu/celów w
            założonym wcześniej harmonogramie, jako zbiór chronologicznych działań, dążących do realizacji określonego zadania. Jedną z popularnych definicji
            projektu przedstawia James P. Lewis w publikacji Project Planning, Scheduling &amp; Control: Projekt to jednorazowe zadanie, które posiada
            określony termin rozpoczęcia i termin zakończenia, jasno określone cele, zakres działania i (z reguły) określony budżet1. Z kolei Prince 2
            definiuje projekt w następujący sposób: Projekt to organizacja powołana na pewien czas w celu wytworzenia - w przyjętym czasie oraz przy
            wykorzystaniu uprzednio określonych zasobów - niepowtarzalnych, a wcześniej określonych wyników czy rezultatu."2
        </p>
    
    
        <p>
            PMBOK określa projekt jako: złożone, niepowtarzalne i zarazem tymczasowe przedsięwzięcie, polegające na zorganizowaniu takiego ciągu działań-zadań,
            które najczęściej realizowane są zespołowo i mają na celu doprowadzenie do zamierzonego osiągnięcia, rezultatu poprzez wytworzenie unikatowego
            wyrobu-produktu lub dostarczenia unikatowej usługi3.
        </p>
    
    
        <p>
            Nie sposób wymienić wszystkich definicji projektu, jednak niezależnie od przyjętej definicji można wymienić kilka charakterystycznych cech
            projektu, a mianowicie:
        </p>
    
    <ul>
        <li>
            <p>
                Projekt ma charakter czasowy, określonym początkiem i terminem zakończenia,
            </p>
        </li>
        <li>
            <p>
                Projekt ma ściśle okresowy cel/ cele (rezultatem projektu jest jakaś określona zmiana)
            </p>
        </li>
        <li>
            <p>
                Projekty kończą się z chwilą osiągnięcia celu lub gdy okaże się, że nie da się ich osiągnąć w określonym czasie, przy założonych ograniczeniach
                czasowych lub budżetu,
            </p>
        </li>
        <li>
            <p>
                Projekt ma określony podział zadań i obowiązków
            </p>
        </li>
        <li>
            <p>
                Projekt ma określony zakres finansowy- budżet
            </p>
        </li>
        <li>
            <p>
                Projekty są przedsięwzięciem jednorazowym w rezultacie których powstaje produkt lub usługa,
            </p>
        </li>
        <li>
            <p>
                Działania w projekcie zachodzą w określonej sekwencji
            </p>
        </li>
        <li>
            <p>
                Działania w projekcie nie są powtarzalne, ale są złożone i zachodzi między nimi logiczna lub techniczna zależność
            </p>
        </li>
        <li>
            <p>
                Projekt angażuje określone zasoby (ludzkie, rzeczowe, finansowe, informacyjne), a zmiany ich wykorzystania są możliwe jedynie przy udziale
                kierownika projektu
            </p>
        </li>
        <li>
            <p>
                Końcowy efekt projektu powinien spełniać wymagania stawiane wcześniej, a zatem zrealizować cel w odpowiednim zakresie, z wymaganą jakością,po
                określonych kosztach, w wyznaczonym czasie, przy zużyciu określonych zasobów
            </p>
        </li>
    </ul>
    
        <p>
            Istnieje też grupa projektów, które mają tzw. charakter organizacyjny, czyli ukierunkowany na zmianę organizacyjną np. zmianę procedury, realizację
            projektu szkoleniowego, działanie o charakterze badawczym.
        </p>
    
    
        <p>
            Podsumowując projekt to uprzednio zaplanowane przedsięwzięcie, realizowane aby osiągnąć określony cel. Podsumowanie cechy projektu prezentuje
            schemat poniżej.
        </p>
    
    

    
        <p>
            <img alt="Obraz" src="http://media30.pl/wp-content/uploads/2015/12/Projekt.png">
        </p>
    
    
        <h2 class ="title">
           VI.2. Główne metodyki zarządzania projektami
        </h2>
    
    
        <p>
            Aby poprawnie zrozumieć i prawidłowo analizować zagadnienia i kwestie związane z prowadzeniem projektów, a także odpowiednio rozpoznawać sposoby
            prowadzenia projektów należy zrozumieć nie tylko to, czym jest sam projekt, ale również to, czym jest szeroko rozumiane i często spotykane
            określenie zarządzanie projektami. Zarządzanie projektami to dyscyplina z obszaru zarządzania, zajmująca się wiedzą, umiejętnościami i technikami
            związanymi z prowadzeniem projektów. Zarządzanie projektami jako dziedzina wiedzy nie jest dziedziną nową. Jej początki sięgają czasów II wojny
            światowej. Jednak to ostatnie lata są okresem istotnego rozwoju, o czym świadczą liczne publikacje, badania naukowe i konferencje, rozwój
            organizacji zawodowych oraz rozwój oprogramowania wspomagającego zarządzanie projektami. Zarządzanie projektami również definiuje się w bardzo
            różnorodny sposób najczęściej jako asortyment wszystkich narzędzi, technik, procesów określania i planowania, organizowania, kontroli i prowadzenia
            tych chronologicznie ułożonych, określonych w czasie działań prowadzących do określonego wcześniej rezultatu, aż do czasu, kiedy właśnie ten nadany
            cel zostaje ostatecznie osiągnięty. Jedną z najbardziej obszernych, ale jednocześnie uniwersalnych definicji zarządzania projektami podaje PMBOK,
            zgodnie z którym projekt jest przedsięwzięciem tymczasowym, który zobowiązany jest do stworzenia unikalnego produktu, usługi (lub osiągnięcia
            innego, określonego celu). Czas trwania projektu określa się jego początek (datę startu) oraz zakończenie (datę końca). Jednak koniec projektu może
            zostać ogłoszony w kilku różnych okolicznościach np.: zakończenie z sukcesem, realizacja celu, zakończenie bez sukcesu, ponieważ niemożliwe okazuje
            się zrealizowanie celu czy np. zakończenie bez sukcesu, ponieważ potrzeba projektu już nie istnieje lub zakończenie bez sukcesu, ponieważ taka
            decyzja zapada w ciele zarządczym (często finansującym, sponsorującym przedsięwzięcie).
        </p>
    
    
        <p>
            Metodyka zarządzania projektami to ogół zasad, które określają w jaki sposób wykonać określone czynności w projekcie. Metodyki zarządzania
            projektami wynikają z praktyki prowadzenia różnych typów projektów, miały na celu uporządkowanie doświadczeń oraz dobrych praktyk w tym obszarze.
            Metodyki projektowe zwykle posiadają własne definicje projektu, które uwzględniają specyfikę projektu oraz kładą nacisk na te elementy, które są
            istotne z punktu widzenia danej metodyki. Metodyka zarządzania projektami to zbiór metod stanowiący spójne pojęciowo podejście do zarządzania
            projektem, zbiór zasad dotyczących sposobów wykonywania zadań projektowych oraz trybu postępowania prowadzącego do określonego celu.
        </p>
    
    
        <p>
            W 1969 roku powstał Project Management Institute (PMI). Nadrzędnym celem tej instytucji jest gromadzenie, analiza doświadczeń z prowadzenia różnych
            typów projektów, by następnie je wykorzystać do rozpowszechniania sprawdzonych metod odnośnie realizacji projektów. Następnie powstał zbiór reguł z
            zakresu zarządzania projektami. Ujęto je w przewodniku MPBok najbardziej popularnej książce - tzw. biblii zarządzania projektami. Równolegle w
            Wielkiej Brytanii powstała metodyka Prince w oparciu o zasady PROMPT . Początkowo metodykę tę stosował rząd Wielkiej Brytanii, jednak dość szybko
            pojawiła się wersja Prince2, która zyskała popularność na świecie oraz szerokie zastosowanie w różnych typach projektów. Obecnie PMI oraz Prince to
            dwie najpopularniejsze metodyki zarządzania projektami. Popularność w ostatnich latach zdobyły jednak również inne metodyki takie jak zwinne
            metodyki zarządzania projektami np. SCRUM czy Ten Step , przyjrzyjmy się bliżej głównym metodyką zarządzania projektami.
        </p>
    
    
    
    
        <h3 class = "subtitle">
            VI.2.1 PMI
        </h3>
    
    
        <p>
            PMI czyli Project Management Institute powstał w 1969 roku jako ogólnoświatowa międzynarodowa organizacja skupiająca rożnego typu firmy oraz
            indywidualne osoby zajmujące się prowadzeniem projektów. Następnie dynamicznie się rozwijała wraz z rozwojem praktyki oraz teorii zarządzania.
            Obecnie jest ona organizacją non-profit, zrzesza ok. 300000 członków, jest również organizacją certyfikującą profesjonalnych kierowników projektów,
            a sygnowane przez nią certyfikaty należą do najbardziej uznanych na świecie.
        </p>
    
    
        <p>
            Głównym celem PMI jest doskonalenie praktycznego zarządzania projektami, stały rozwój wszelkich metod, technik i narzędzi wspomagających
            współczesne zarządzanie projektami. PMI to najpopularniejsza metodyka zarządzania projektami technologicznymi głównie w zakresie: projekty
            informatyczne, inżynieria oprogramowania, projektowanie systemów teleinformatycznych. Metodyka ta powstała na bazie praktycznych doświadczeń w celu
            podniesienia jakości oraz efektywności realizacji projektów. Konieczność usystematyzowania praktycznych doświadczeń z realizacji projektów oraz
            teoretycznej wiedzy na ten temat zaowocowała powstaniem metodyki adekwatnej do złożoności oraz skali realizacji współczesnych projektów. PMI jako
            organizacja stale zbiera, analizuje, a następnie systematyzuje doświadczenia projektowe w celu ciągłego doskonalenia metod zarządzania projektami.
            Stała aktualizacja metodyki wymaga ciągłego gromadzenia doświadczeń z realizacji rożnych typów projektów, analizowania sposobów ich prowadzenia,
            słabych oraz mocnych stron, a następnie uaktualniania metodyki.
        </p>
    
    
        <p>
            Biblią zarządzania projektami zgodnie z metodyką PMI jest tzw. PMBOK (A Guide to the Project Management Body of Knowledge). Jest to zbiór
            standardów oraz wytycznych ich realizacji stanowiących podstawy metodyki. PMBOK to zbiór praktyk zarządzania projektami rekomendowanych przez PMI
            które znajdują zastosowanie w praktyce zarządzania projektami.
        </p>
    
    
        <p>
            PMBOK opisuje procesy zarządzania projektem pogrupowane w 5 grup oraz 9 obszarów wiedzy. Pięć podstawowych procesów to:
        </p>
    
    
        <p>
            1.Procesy rozpoczęcia - procesy, które mają na celu zdefiniowaniu projektu oraz powołanie go w organizacji.
        </p>
    
    
        <p>
            2.Procesy planowania - procesy, które definiują sposób realizacji celów projektu, wykorzystania środków finansowych na jego realizację, terminów
            realizacji projektu, kolejności realizacji poszczególnych działań, odpowiedzialności za ich realizację.
        </p>
    
    
        <p>
            3.Procesy realizacji - procesy, które grupują działania realizowane w projekcie, koordynują wykorzystaniem zasobów projektowych w celu realizacji
            założeń oraz planów projektu.
        </p>
    
    
        <p>
            4.Procesy kontroli - procesy, które monitorują postępy realizacji działań w projekcie, pomagają zidentyfikować ewentualne odchylenia w planie
            realizacji projektu, a następnie podjąć działania zaradcze, naprawcze
        </p>
    
    
        <p>
            5. Procesy zakończenia- procesy, które przygotowują formalną akceptację zakończenia projektu, akceptację realizacji jego celów.
        </p>
    
    
        <p>
            PMBOK definiuje następujące obszary zarządzania projektem:
        </p>
    
    <ol start="1">
        <li>
            <p>
                Zarządzanie integralnością projektu
            </p>
        </li>
    </ol>
    <ol start="2">
        <li>
            <p>
                Zarządzanie zakresem
            </p>
        </li>
    </ol>
    <ol start="3">
        <li>
            <p>
                Zarządzanie czasem
            </p>
        </li>
    </ol>


    <ol start="4">
        <li>
            <p>
                Zarządzanie kosztami
            </p>
        </li>
    </ol>
    <ol start="5">
        <li>
            <p>
                Zarządzanie jakością _
            </p>
        </li>
    </ol>
    <ol start="6">
        <li>
            <p>
                Zarządzanie zasobami ludzkimi
            </p>
        </li>
    </ol>
    <ol start="7">
        <li>
            <p>
                Zarządzanie komunikacją
            </p>
        </li>
    </ol>
    <ol start="8">
        <li>
            <p>
                Zarządzanie ryzykiem _
            </p>
        </li>
    </ol>
    <ol start="9">
        <li>
            <p>
                Zarządzanie zaopatrzeniem
            </p>
        </li>
    </ol>
    
    
    
        <p>
            Projektem zgodnie z metodyką PMI zarządza kierownik projektu. Każdy projekt jest inny, jeśli nawet w jego ramach realizujemy podobny produkt czy
            usługę, zawsze działamy w zróżnicowanych okolicznościach oraz z ryzykiem co do kształtu osiągnięcia ostatecznych wyników. Dlatego właśnie warto
            stosować metodyki zarządzania projektami, dzielą one bowiem projekt na etapy, fazy co pozwala lepiej zapanować nad realizacją celów, dokładniej
            analizować wszelkie zamierzone działania. Poszczególne fazy projektu składają się na tzw. cykl życia projektu. Każda z faz dostarcza określonych
            rezultatów końcowych będących podstawą prac w kolejnej fazie. Cykl życia projektu określa działania podejmowane na początku każdej fazy oraz efekty
            jej zakończenia, nazywamy to podejściem procesowym. Podejście procesowe jest charakterystyczne w metodyce PMI.
        </p>
    
    
    
    
        <p>
            Jeśli chcesz dowiedzieć się więcej na temat metodyki odwiedź stronę:
        </p>
    
    
        <p>
            <a href="http://www.pmi.org.pl/">http://www.pmi.org.pl/</a>
        </p>
    
    
      
    
    
        <h3 class = "subtitle">
            VI.2.2 Prince 
        </h3>
    
    
        <p>
            PRINCE2 (PRojects IN a Controlled Environment) kolejna bardzo popularna metodyka zarządzania projektami. Powstała ona w Wielkiej Brytanii w 1989 roku w jednej z rządowych agend Central
                Computer and Telecommunications Agency (CCTA) jako dokument pod nazwą PRINCE. Już w pierwotnej formie był to dokument opisujący zbiór
                najlepszych praktyk zarządzania projektami zebranych w czasie realizacji różnego rodzaju projektów, lecz w znacznej mierze projektów
                informatycznych. W 1996 roku opublikowana została kolejna wersja dokumentu pod nazwą PRINCE2 jako ogólna metodyka zarządzania projektami we
                wszystkich dziedzinach. Bardzo szybko zyskała ona popularność, a wręcz stała się standardem zarządzania projektami w Wielkiej Brytanii. Obok
                PMI stała się drugą najpopularniejszą metodyką zarządzania projektami na świecie.
            </a>
        </p>
    
    
        <p>
            
                PRINCE2 stawia na tzw. ustrukturyzowane zrządzanie projektem z zastosowaniem logicznych etapów, zasad, wykonywania określonych działań w
                określonej kolejności. Metodyka ta jako kluczowy cel realizacji projektu definiuje potrzebę biznesową realizacji projektu, sam projekt jest
                środowiskiem zarządzania stworzonym na potrzeby realizacji tej potrzeby biznesowej. Potrzebę biznesową stanowi realizacja produktu lub usługi,
                a jej realizacja związana jest ze specyficznymi potrzebami biznesowymi danej organizacji. Projekt realizowany zgodnie z metodyką Prince 2
                posiada określony czas realizacji (określony początek i koniec), określone wyniki realizacji projektu (zdefiniowane i mierzalne), określony
                system działań realizacji projektu (określony przebieg realizacji projektu), określone zasoby (ludzkie, rzeczowe, finansowe, informacyjne),
                określoną strukturę organizacyjną projektu ( w tym strukturę zarządzająca). Metodykę PRINCE2 wyróżnia siedem obszarów zarządzania projektem:
                uzasadnienie biznesowe, organizacja, jakość, plany, ryzyko, zmiana, postępy. Projektem zgodnie z metodyką Prince 2 zarządza kierownik projektu
                oraz komitet sterujący ( grupa w skład której wchodzą przedstawicie 3 stron inwestora, dostawcy i użytkownika). Metodyka Prince 2 to metodyka
                procesowa, precyzyjnie definiuje ona 8 głównych procesów realizacji projektu co stanowi szczegółowy model zarządzania projektem. Metodyka ta
                opisuje cykl życia projektu z dokładnym określeniem jego faz oraz realizowanych działań. Osiem głównych procesów metodyki Pince 2
                to:
            </a>
        </p>
    
    <ol start="1">
        <li>
            <p>
               
                    Strategiczne zarządzanie projektem - proces nadrzędny, określa obowiązki i odpowiedzialność komitetu sterującego. 
            
            </p>
        </li>
    </ol>
    <ol start="2">
        <li>
            <p>
              
                    Planowanie - procesy definiujące sposób realizacji projektu, określenie rezultatów końcowych projektu (kształtu produktów/usług będących
                    rezultatem projektu), określanie działań projektowych, szacowanie pracochłonności działań projektowych, harmonogramowanie działań,
                    dokonanie oceny ryzyka, tworzenie planów projektowych.
            </p>
        </li>
    </ol>
    <ol start="3">
        <li>
            <p>
                
                    Uruchamianie Projektu/Przygotowanie Założeń Projektu - grupa procesów poprzedzająca projekt. Procesy te przygotowują projekt to
                    uruchomienia (powołanie zespołu zarządzającego projektem, określenie celu/celów projektu, definiowanie metody, analiza zasadności
                    ekonomicznej realizacji projektu, planowanie prac planistycznych, określenie elementy sterowania projektem, uzyskanie zgody na inicjację
                    projektu.
            </p>
        </li>
    </ol>
    <ol start="4">
        <li>
            <p>
                
                    Inicjowanie projektu - procesy definiujące Dokument Inicjującego Projekt (DIP). Akceptacja DIP przez Komitet Sterujący jest równoznaczna z
                    uruchomieniem projektu.
            </p>
        </li>
    </ol>
    <ol start="5">
        <li>
            <p>
               
                    Sterowanie Etapem - procesy w ramach których na bieżąco monitorowany jest poziom realizacji danego etapu zgodnie z przyjętym planem
                    realizacji danego etapu, a w razie niezgodności podejmowane są stosowne działania.
            </p>
        </li>
    </ol>


    <ol start="6">
        <li>
            <p>
               
                    Zarządzanie Wytwarzaniem Produktów-procesy w ramach których wytwarzane są produkty będące efektem projektu. W ramach tego etapu ustalany
                    jest zakres prac z kierownikiem projektu, planowane orz nadzorowane prace zespołu projektowego, opracowywane raporty z postępu prac oraz
                    jakości produktu, zatwierdzane poszczególne etapy realizacji produktu.
                
            </p>
        </li>
    </ol>
    <ol start="7">
        <li>
            <p>
                
                    Zarządzanie Zakresem Etapu - procesy mające na celu ukończenie prac na poziomie każdego etapu oraz uzyskanie akceptacji poziomu ich
                    realizacji na każdym poziomie przez Komitet Sterujący.
            </p>
        </li>
    </ol>
    <ol start="8">
        <li>
            <p>
                
                    Zamykanie Projektu - procesy mające na celu zamkniecie projektu w sposób uporządkowany i kontrolowany oraz mające na celu wytworzenie
                    dokumentów podsumowujących prace projektowe.
            </p>
        </li>
    </ol>
    
        <p>
            
                Każdy wymienionych powyżej proces składa się z podprocesów, które są wzajemnie powiązane. Określają one dokładnie sposób zarządzania projektem,
                postępowania w konkretnych sytuacjach projektowych.
        </p>
    
    
        <p>
            
                Jeśli chcesz dowiedzieć się więcej na temat metodyki odwiedź stronę:
            <a href="http://www.ogc.gov.uk/prince2">http://www.ogc.gov.uk/prince2</a>
        </p>
    
    
        <h3 class="subtitle">
            VI.2.3 SCRUM
        </h3>
    
    
        <p>
           
                Od kilku lat na popularności zyskują tzw. zwinne (adaptacyjne) metodyki zarządzania tzw. Agile Project Management, wśród których
                najpopularniejszy jest SCRUM. Jest to zbiór zasad, reguł pozwalających na stworzenie swojego własnego procesu zarządzania projektem. Często
                można spotkać się z opinia iż SCRUM to nie metodologia ale proces o niepowtarzalnym przebiegu, konstruowany indywidualnie na potrzeby
                realizacji projektu lub usługi przez organizację lub osobę indywidualną. Autorami SCRUM są dwaj Japończycy , „ojcowie" zakresie zarządzania
                wiedzą - Hirotaka Takeuchi i Ikujiro Nonaka. Następnie został on opisany przez Kena Schwabera oraz Jeffa Sutherlanda i po raz pierwszy został
                zaprezentowany w Texasie w 1995 roku podczas konferencji OOPSLA (obecnie -Splash). SCRUM tworzy podstawę działania w zarządzaniu projektem
                zgodną z koncepcją zwinności -metodyk agile, które powstały na fali niezadowolenia wobec sztywnych i silnie sformalizowanych metodyk
                wytwarzania oprogramowania oraz zarządzania projektami jak np. omawiany wcześniej PMI czy Prince 2. Według twórców zwinnych metodyk zarządzania
                projektami metodyki sztywne, nie były już adekwatne do aktualnych możliwości technik programistycznych, a stosowanie ich było mało efektywne,
                zwłaszcza w wykorzystaniu zasobów. W związku z czym SCRUM stał się bardzo popularną metodyką zarządzania projektem w przypadku realizacji
                projektów bazujących na tworzeniu produktów opartych o prace programistyczne m.in. tworzenie aplikacji, tworzenie oprogramowanie czy systemów
                informatycznych.
        </p>
    
    
        <p>
            
                Szczególną role w metodyce SCRUM odgrywają relacje między członkami zespołu projektowego, często mówi się o tzw. samo zarządzającym/
                samoorganizującym się w celu zwiększenia efektywności pracy zespole (najczęściej bez ról i hierarchii). Zespołem scramowym zarządza Scrum
                master, osoba odpowiedzialna za ciągłość realizacji oraz stałe udoskonalania procesów, jak również o zewnętrzne problemy zespołu. Cel projektu
                oraz cele danego sprintu(etapu realizacji projektu w metodyce SCRUM) wyznacza Product Owner (właściciel produktu). Zespół projektowy to Team są
                to osoby o zróżnicowanych kompetencjach, sami decydują, ile są w stanie wykonać w danym sprincie oraz jak dane prace wykonać - w jakiej
                technologii, z użyciem jakich narzędzi, dlatego tylko najlepsi specjaliści o bardzo wysokich kompetencjach oraz ogromnej odpowiedzialności i
                dojrzałości mogą wejść w skład zespołu.
            </a>
        </p>
    
    
    
    
        <p>
          
                SCRUM bazuje na empirycznej kontroli procesu, której trzy główne filary realizacji projektu to przejrzystość, kontrola i akceptacja. Wszystkie
                działania w projekcie realizowane zgodnie z metodyka SCRUM bazują na ściśle określonych kryteriach czasu.
        </p>
    
    <ol start="1">
        <li>
            <p>
             
                    Sprint - podstawową jednostką czasu w SCRUMIE jest Sprint czyli etap projektu trwający od tygodnia do czterech tygodni, w czasie którego
                    trwa jedna iteracja pracy nad produktem. Długość Sprintu ustalana na cały czas trwania projektu i nie zmienia się. Każdy Sprint ma ściśle
                    określony cel tzw Cel Sprintu, nad osiągnięciem którego pracuje zespół czyli Team. W czasie trwania Sprintu cel nie może ulec zmianie, nie
                    może też zmienić się zespół pracujący nad jego realizacją.
            </p>
        </li>
    </ol>
    <ol start="2">
        <li>
            <p>
               
                    Planowanie - kolejne Sprinty planowane są w czasie spotkań zespołu z Srum Masterem oraz właścicielem produktu. Spotkania odbywają się
                    cyklicznie w stałe ustalonych terminach np. każdy poniedziałek, każdy pierwszy dzień miesiąca itp. Czas spotkania nie powinien trwać więcej
                    niż 8 godzin, podzielony jest równomiernie na dwie części, 1. Określenie celów nowego sprintu (Co konkretnie ma być zrobione w kolejnym
                    sprincie?), 2. Określenie jak praca będzie wykonana ( W jaki sposób, z użyciem jakich technologii, jakich narzędzi).
            </p>
        </li>
    </ol>
    <ol start="3">
        <li>
            <p>
               
                    Codzienny Scrum - jest to 15 min codzienne spotkanie całego zespołu. W czasie spotkania członkowie zespołu podsumowują miniony dzień,
                    aktualizują swoją wiedzę na temat aktualnego stanu projektu, trwającego Sprintu. Spotkanie takie odbywa się każdego dnia o tej samej porze,
                    najczęściej w tym samym miejscu np. codziennie rano o 9.00 kiedy zespół zaczyna pracę. W codziennych Scumach najczęściej uczestniczy Scrum
                    Master, ale nie jest to konieczne. W czasie spotkania każdy z członków zespołu ustala następujące kwestie: Co zrobiłem poprzedniego dnia
                    dla realizacji Celu Sprintu?, Co dziś zrobię dla realizacji Celu Sprintu?, Czy napotkałem jakieś trudności? Jakie? Członkowie zespołu
                    podsumowuję efekty swojej pracy oraz aktualizują swoją wiedzę na temat tego co udało się osiągnąć pozostałym członkom
                    zespołu.
            </p>
        </li>
    </ol>
    <ol start="4">
        <li>
            <p>
                
                    Przegląd Sprintu - spotkanie członków zespołu, Scrum Mastera, Właściciela Produktu, jak również wszystkich interesariuszy zainteresowani
                    przebiegiem projektu. Spotkanie takie odbywa się w ostatnim tygodniu sprintu, trwa kilka godzin- max4.
            </p>
        </li>
    </ol>
    
       
    
        <p>
          
                W czasie spotkania analizowane są efekty ukończenia funkcjonalności projektu zaplanowane do realizacji w danym sprincie, omawiane są zarówno
                pozytywne jak i negatywne działania zaistniałe w danym Sprintcie, w przypadku działań negatywnych omawiane sa również sposoby ich rozwiązania,
                prognozowane jest tempo zakończenia całego projektu i ustalenie dalszych kroków realizacji projektu.
        </p>
    
    <ol start="1">
        <li>
            <p>
                
                    Retrospektywa Sprintu - spotkanie podsumowujące maksymalnie 3 godzinne. Odbywa się po zakończeniu Przeglądu, uczestniczy w niej tylko
                    zespół scrumowy. W czasie tego spotkania analizuje się ostatni Sprint efekty pracy ludzi, procecy, efektywność użytych narzędzi. W czasie
                    takiego spotkania zbiera się również dobre praktyki, które mogą być rekomendacją dla kolejnych sprintów. Retrospektywa kończy Sprint,
                    następny dzień roboczy zaczyna się od Planowania nowego Sprintu.
            </p>
        </li>
    </ol>


    
     
    
        <p>
           
                Jeśli chcesz dowiedzieć się więcej na temat metodyki odwiedź stronę:
            <a href="http://www.scrum.org/">http://www.scrum.org/</a>
        </p>
    
    
        <h3 class = "subtitle">
            VI.3.Specyfika projektów
        </h3>
    
    
        <p>
            Z projektami mamy do czynienia w zasadzie w każdej dziedzinie funkcjonowanie gospodarki. Projekty mogą mieć różny rozmiar, mogą być duże lub małe,
            organizacyjne lub prowadzone przez indywidualne osoby, w ramach projektu firma może realizować kolejny produkt z grupy produktów które już
            realizuje do lat lub produkt może stanowić innowacje. Projekty możemy klasyfikować w różnorodny sposób, najpopularniejszy podział dzieli projekty
            na 9 grup.
        </p>
    
    <ol start="1">
        <li>
            <p>
                Klasyfikacja projektów poprzez dziedzinę - projekty mogą być realizowane w różnych dziedzinach, w różnych branżach i gałęziach biznesu np. IT,
                edukacja, telekomunikacja
            </p>
        </li>
    </ol>
    <ol start="2">
        <li>
            <p>
                Klasyfikacja projektów poprzez specyfikę - projekty mogą mieć różnorodną specyfikę uzależnioną od tego co jest efektem finalnym projektu np.
                projekty naukowo-badawczye, inwestycyjne, organizacyjnym, społeczne,
            </p>
        </li>
    </ol>
    <ol start="3">
        <li>
            <p>
                Klasyfikacja projektów poprzez ich znaczenie - projekty mogą mieć dla organizacji różne znaczenie np. mogą to być projekty strategiczne lub
                projekty taktyczne.
            </p>
        </li>
    </ol>
    <ol start="4">
        <li>
            <p>
                Klasyfikacja projektów poprzez zakres - projekty przyjmują różny zakres, możemy wyróżnić np. projekty koncepcyjne czy projekty kompleksowe,
            </p>
        </li>
    </ol>
    <ol start="5">
        <li>
            <p>
                Klasyfikacja projektów poprzez pochodzenie - zlecenie na realizację projektów może pochodzić z wewnątrz lub z zewnątrz organizacji. Projekty
                mogą być realizowane na zlecenie wewnętrzne organizacji tzw. zlecenie klienta wewnętrznego lub zewnętrzne realizowane na zlecenie klientów
                zewnętrznych -najczęściej innych organizacji.
            </p>
        </li>
    </ol>
    <ol start="6">
        <li>
            <p>
                Klasyfikacja projektów poprzez rezultaty- projekty poprzez realizację swoich celów prowadzą do rożnych typów rezultatów. Dwa główne typy
                rezultatów to rezultaty materialne i rezultaty niematerialne.
            </p>
        </li>
    </ol>
    <ol start="7">
        <li>
            <p>
                Klasyfikacja projektów poprzez innowacyjności - projektu mogą przyjmować różny stopieni innowacyjności. Stopnie innowacyjności projektów są
                różnorodnie definiowane.
            </p>
        </li>
    </ol>
    <ol start="8">
        <li>
            <p>
                Klasyfikacja projektów poprzez zasięg - projekty przyjmują różny zakres w zależności od skali ich realizacji oraz zasięgu oddziaływania
                rezultatów projektu np. projekty wewnątrz organizacyjne, projekty gminne, projekty krajowe, projekty europejskie ect
            </p>
        </li>
    </ol>
    <ol start="9">
        <li>
            <p>
                Klasyfikacja projektów poprzez rozmiar - rozmiar projektu definiowany jest poprzez skalę wykorzystywanych zasobów głównie budżet projektu.
                Projekty dzielimy na małe, małe, średnie, duże. etc
            </p>
        </li>
    </ol>
    
    
    
        <p>
            Profil projektu
        </p>
    
    
        <p>
            Bez względu na sposób przyjętej klasyfikacji rozpoczynając realizację projektu należy zwrócić uwagę na kilka kluczowych dla realizacji projektu
            czynników, które definiują tzw. profil projektu. Po pierwsze należy ustalić stopień ryzyka realizacji projektu, określić jakie ono jest, po drugie
            przed rozpoczęciem realizacji projektu musimy określić jego wartość ekonomiczną, oszacować czas realizacji-datę rozpoczęcia i zakończenie, a
            następnie opracować ramowy a następnie szczegółowy harmonogram realizacji projektu. Bardzo istotne jest również określenie stopnia złożoności
            projektu, musimy dokładnie wiedzieć jak złożony jest projekt, aby móc to zdiagnozować jak złożone jest wewnętrzne oraz zewnętrzne środowisko
            realizacji projektu. Niezmiernie istotne zwłaszcza przy projektach informatycznych jest określenie parametrów wyboru odpowiedniej technologii, a
            następnie jej wybór, stając przed wyborem technologii kierując się określonymi kryteriami np. technologia znana sprawdzona, a technologia
            innowacyjna ect. Określenie profilu projektu pozwala na zakwalifikowanie projektu do odpowiedniej kategorii projektów. Na podstawie określenie
            profilu projektu menedżer projektu może zdecydować o wyborze metodologii zarządzania projektem najskuteczniejszej dla danego projektu.
        </p>
    
    
    


    
       <h3 class = "subtitle">
           VI.4. Jak zaplanować i przeprowadzić pierwszy projekt?
        </h3>
    
    
        <p>
            Każdy projekt stanowi złożone przedsięwzięcie, szczególnym wyzwaniem pozostaje jednak zaplanowanie oraz realizacja pierwszego projektu. Każdy
            projekt jest indywidualnym przedsięwzięciem, ponieważ spełnia specyficzne cele oraz potrzeby, każdy projekt ma zatem swój indywidualny „cykl życia"
            składa się z faz, etapów, zadań i działań specyficznych dla danego projektu. Rozpoczynając projekt zaraz na początku jeszcze przed podjęciem
            konkretnych działań projektowych należy dokładnie rozpoznać potrzeby realizacji projektu, a następnie na tej podstawie ustalić cel projektu.
            Kolejnym krokiem jest zaplanowanie założeń projektu niezbędnych do osiągnięcia celów projektu. Z założeń wynikają konkretne zadania oraz działania
            projektowe. Na początku realizacji projektu szczególnie istotne pozostaje określenie skutecznej koncepcji realizacji projektu. Podstawą tworzenia
            koncepcji projektu jest faza idei, która obejmuje okres przed oficjalną decyzją o powołaniu projektu.. W fazie idei określane są podstawowe idee
            projektu, dokonywana jest analiza możliwości realizacji projektu oraz szacunek potencjalnych problemów, które mogą wystąpić w projekcie, a także
            potencjalnych możliwości ich rozwiązania lub minimalizacji. Na tej podstawie opracowywana jest koncepcja realizacji projektu.
        </p>
    
    
        <p>
            Następny faza działań projektowych to zdefiniowanie projektu. W ramach tej fazy opracowywana zostaje wstępna struktura projektu, określone zostają
            kompetencje poszczególnych pracowników projektu oraz zależności pomiędzy nimi. Na tym etapie realizowana zostaje również ocenę wykonalności
            realizacji projektu oraz wstępne szacowanie kosztów. Na podstawie tych ustaleń opracowywany jest początkowo ramowy, a następnie szczegółowy
            harmonogram realizacji projektu. W skutecznym zarządzaniu projektem bardzo istotnym pozostaje również określenie parametrów jakości efektów
            projektu co również realizowane jest w fazie definiowania. Etap definiowania podsumowany zostaje opisem projektu zawierającym wszelkie wymienione
            powyżej składowe.
        </p>
    
    
        <p>
            Trzeci etap realizacji projektu to tzw. sporządzenie projektu. W ramach etapu trzeciego dokładnie określane są wszelkie zadania oraz
            działanie/czynności projektowe niezbędne do realizacji całego procesu projektu. Na tej podstawie przygotowywany jest plan prac w projekcie.
            Następnie na podstawie planu pracy następuje podział obowiązków projektowych. Zatwierdzana jest również struktura zarządzania projektem, a
            szczegółowe odpowiedzialności i obowiązki przyporządkowywane poszczególnym członkom zespołu projektowego. Na etapie sporządzania projektu następuje
            uszczegółowienie harmonogramu realizacji projektu, budżetu projektu oraz jakości efektów końcowych projektu. Mając gotowe harmonogramy oraz budżet
            możemy określić sposób oraz plan kontroli realizacji projektu oraz tzw. punkty kontrolne projektu - czyli momenty realizacji projektu w których
            projekt kontrolujemy. W opracowywaniu planu kontroli projektu bardzo istotna jest również znajomość ograniczeń projektowych. Całość etapu trzeciego
            podsumowane jest sporządzeniem dokumentacji zawierającej ocenę ryzyka oraz planu zarządzania projektem.
        </p>
    
    
        <p>
            Czwarty etap to realizacja projektu. W ramach tego etapu prowadzona jest realizacjia projektu zgodnie z wcześniej założonym planem, harmonogramem
            oraz budżetem. Przez całą realizację projekt musi być monitorowany, a rezultaty realizacji poszczególnych zadań, działań/ czynności projektu
            analizowane i raportowane. Projekt jest „żywym organizmem" może zmieniać się po już rozpoczętej realizacji, zmieniają się bowiem jego założenia,
            warunki prowadzenia czy członkowie zespołu projektowego. W związku z tym projekt wymaga wprowadzania niezbędnych poprawek na bieżąco w celu
            realizacji projektu zgodnie z jego założeniami. Poprawki mogą być wprowadzane w zakresie projektu, harmonogramie, budżecie oraz kryteriach jakości
            projektu.
        </p>
    
    
        <p>
            Ostatni etap to zakończenie zakończeniem projektu. Obejmuje on oficjalne zakończenie, z także szereg czynności sprawozdawczych związanych z
            zakończeniem projektu takich jak opracowanie raportu z realizacji projektu , dokonanie oceny podsumowującej projektu, wyciągniecie najlepszych
            praktyk z realizacji projektu w celu przeniesienia na grunt realizacji nowych projektów oraz archiwizacja wszelkich dokumentów projektowych.
        </p>
    
    
    
    
        <p>
            Ogólny opis procesu zarządzania projektami przedstawia również J. Kisielnicki, którego na proces ten składają się cztery podstawowe grupy działań,
            a są to: zaplanowanie, organizowanie, motywowanie i kierowanie oraz kontrola wykonania, co wskazano na Schemacie nr 1.
        </p>
    
    
    
    
        <p>
            I etap plan realizacji - w ramach tego etapu identyfikowane są potrzeby realizacji projektu oraz wymagania stawiane wobec projektu, następnie
            definiowane są konkretne cele projektu, których realizacji ma zapewnić osiągnięcie pożądanej jakości rezultatów projektu (realizacją określonego
            produktu lub usługi). Etap pierwszy kończy się wyborem najlepszego sposobu osiągnięcia celu projektu, odzwierciedlonym w opracowanym w budżecie i
            harmonogramie.
        </p>
    
    
        <p>
            II etap organizacja procesu - w ramach etapu drugiego realizowane są wszelkie działania koordynacyjne projektu takie jak koordynacja wykorzystania
            wszelkich zasobów projektowych ze szczególnym uwzględnieniem zasobów ludzkich, które w każdym projekcie stanowią zarazem najmocniejszą i najsłabszą
            stronę.
        </p>
    
    
        <p>
            III etap kierowanie i motywowanie - w ramach realizacji etapu trzeciego prowadzone są wszelkie prace związane z kierowaniem zespołem projektowym ,
            motywowaniem go do efektywnych działań, realizacji celów projektowych, a w efekcie uzyskania odpowiednich rezultatów określonych w celach projektu.
        </p>
    
    
        <p>
            IV etap kontrola wykonania - w ramach etapu czwartego weryfikowane są założone cele projektowe. Kontroli podlega satysfakcja klientów, dotrzymanie
            terminów, założenia budżetowe.
        </p>
    
    
    
    
        <p>
            Szczególnie istotna w zarządzaniu projektem jest rola kierownika projektu. Musi on posiadać szereg umiejętności pozwalających mu na skuteczną
            realizację projektu. Należy o tym pamiętać już przy realizacjach pierwszych projektów. Do kluczowych cech kierownika projektu zaliczyć należy:
        </p>
    
    <ul>
        <li>
            <p>
                Znajomość wszelkich etapów realizacji projektów
            </p>
        </li>
        <li>
            <p>
                Znajomość metodyk zarządzania projektami
            </p>
        </li>
        <li>
            <p>
                Znajomość technik oraz narzędzi prowadzenia projektów
            </p>
        </li>
        <li>
            <p>
                Umiejętność definiowania projektu, jego zakresu, harmonogramu, budżetu
            </p>
        </li>
        <li>
            <p>
                Umiejętność zarządzania wszelkim zasobami projektu ( finansowymi, ludzkimi, rzeczowymi, informacyjnymi)
            </p>
        </li>
    </ul>


    <ul>
        <li>
            <p>
                Umiejętność prognozowania ryzyk projektowych i zarządzania nimi przed uruchomieniem projektu , jak również w czasie jego realizacji oraz
                ewaluacji.
            </p>
        </li>
        <li>
            <p>
                Umiejętność kontrolowania realizacji projektu na wszelkich jego etapach.
            </p>
        </li>
        <li>
            <p>
                Umiejętność efektywnego komunikowania z wewnętrznym oraz zewnętrznym środowiskiem projektu
            </p>
        </li>
    </ul>
    
        <p>
            Niezwykle istotne jest doświadczenie kierownika oraz umiejętność przewidywania skutków podejmowanych decyzji, przy jednoczesnej szybkości,
            prawności i trafności w ich podejmowaniu, szczególnie w przypadku pojawienia się trudności w projekcie. Mistrzostwo kierownika projektów możemy
            poznać podobnie jak w przypadku mistrza szachowego po umiejętności przewidywania kilu kroków w przód konsekwencji podejmowanych decyzji.
        </p>
    
    
        <p>
            Zarządzania projektami znacząco optymalizuje działanie wielu organizacji, jednak projekty obciążone są również niepowodzeniami. Szczególnie wiele
            napięć odczuwa kierownik projektu który jest katalizatorem pomiędzy otoczeniem zewnętrznym projektu ,a zespołem projektowym. W zarządzaniu
            projektami niepowodzenia najczęściej wynikają z:
        </p>
    
    <ul>
        <li>
            <p>
                nieprecyzyjnego zaplanowania i przygotowania projektu,
            </p>
        </li>
        <li>
            <p>
                nierealistycznych oczekiwań wobec projektu,
            </p>
        </li>
        <li>
            <p>
                zbyt często wprowadzanych zmian,
            </p>
        </li>
        <li>
            <p>
                niedopasowania produktu do potrzeb beneficjentów,
            </p>
        </li>
        <li>
            <p>
                niewystarczającego uwzględniania zagrożeń,
            </p>
        </li>
        <li>
            <p>
                ignorowania czynników wpływających na trwałości korzyści projektów,
            </p>
        </li>
        <li>
            <p>
                brak wsparcia ze strony kierownictwa,
            </p>
        </li>
        <li>
            <p>
                zbyt słabego zaangażowania się użytkowników,
            </p>
        </li>
        <li>
            <p>
                nieprofesjonalnego planowania realizacji projektu,
            </p>
        </li>
        <li>
            <p>
                nie wykorzystania zdobytych doświadczeń,
            </p>
        </li>
        <li>
            <p>
                nieadekwatnego zespół pracowników, zasobów materialnych i finansowych,
            </p>
        </li>
        <li>
            <p>
                przekroczenia terminu4.
            </p>
        </li>
    </ul>
    
        <p>
            Aby uniknąć niepowodzeń projektowych należy zarządzać projektem metodycznie. Zacząć przygodę z zarządzaniem projektami od małych projektów, lecz
            prowadzić je metodycznie, a następnie krok po kroku wraz ze zdobytym doświadczenie- krok po kroku podejmować się realizacji coraz większych
            projektów.
        </p>
    
    
    
    
    

    
        <h1 class = "title">
            VII Bibliografia
        </h1>
    
    
    
    <ol start="1">
        <li>
            <p>
                P. Charette, A. Mitchell, S. Mazur (red.), E. McSweeney, Poradnik dla samorządów terytorialnych, Kraków 2004, s. 11.
            </p>
        </li>
    </ol>
    <ol start="2">
        <li>
            <p>
                „PRINCE2 - skuteczne zarządzanie projektami", praca zbiorowa, 2009, wydanie elektroniczne
            </p>
        </li>
    </ol>
    <ol start="3">
        <li>
            <p>
                A Guide to the Project Management Body of Knowledge (PMBOK® Guide) − Fourth Edition, wydanie polskie, Warszawa 2009, s. 5.
            </p>
        </li>
    </ol>
    <ol start="4">
        <li>
            <p>
                Por. Podręcznik − Zarządzanie Cyklem Projektu, Ministerstwo Gospodarki i Pracy, 2004, s. 6; Red. nauk. M. Trocki, Nowoczesne zarządzanie
                projektami, Polskie Wydawnictwo Ekonomiczne, Warszawa 2013, s. 53
            </p>
        </li>
    </ol>
    <ol start="5">
        <li>
            <p>
Programowanie w JavaScript. Rusz głową!, <a href="http://helion.pl/autorzy/eric-t-freeman,erictfreeman.htm">Eric T. Freeman</a>,                <a href="http://helion.pl/autorzy/elisabeth-robson,elisabethrobson.htm">Elisabeth Robson</a>, O'REILLY
            </p>
        </li>
    </ol>
    <ol start="6">
        <li>
            <p>
Analiza i projektowanie obiektowe. Rusz głową!, <a href="http://helion.pl/autorzy/brett-d-mclaughlin,mclbre.htm">Brett D. McLaughlin</a>,<a href="http://helion.pl/autorzy/gary-pollice,garypollice.htm">Gary Pollice</a>,                <a href="http://helion.pl/autorzy/david-west,davidwest.htm">David West</a>, O'REILLY
            </p>
        </li>
    </ol>
    <ol start="7">
        <li>
            <p>
                <a
                    href="http://matblog.pl/jak-pisac-pseudokod-czy-jest-to-komus-potrzebne/%22http://matblog.pl/jak-pisac-pseudokod-czy-jest-to-komus-potrzebne"
                >
                    http://matblog.pl/jak-pisac-pseudokod-czy-jest-to-komus-potrzebne/http://matblog.pl/jak-pisac-pseudokod-czy-jest-to-komus-potrzebne/
                </a>
            </p>
        </li>
    </ol>
    <ol start="8">
        <li>
            <p>
                <a href="http://kursjs.pl&quot;http://kursjs.p">http://kursjs.plhttp://kursjs.pl</a>
            </p>
        </li>
    </ol>
    <ol start="9">
        <li>
            <p>
                <a href="https://pl.wikipedia.org/%22https://pl.wikipedia.org">https://pl.wikipedia.org/https://pl.wikipedia.org/</a>
            </p>
        </li>
    </ol>
    
        <p>
            <a href="https://pl.wikipedia.org/">https://pl.wikipedia.org/</a>
        </p>
    
    
        <h3 class = "subtitle">
            Polecana literatura
        </h3>
    
    <ol start="1">
        <li>
            <p>
                Project Management Institute (PMI) -A Guide to the Project Management Body of Knowledge (PMBOK ® Guide) 4th Edition,
            </p>
        </li>
    </ol>
    <ol start="2">
        <li>
            <p>
                TSO. Prince 2 TM - Skuteczne zarządzanie projektami, Norwich, UK, 2009. Wydanie polskie Centrum Rozwiązań Menadżerskich.
            </p>
        </li>
    </ol>


    <ol start="3">
        <li>
            <p>
                M. Chrapko- SCRUM.O zwinnym zarządzaniu projektami, Wydawnictwo Helion
            </p>
        </li>
    </ol>
    <ol start="4">
        <li>
            <p>
                Robert K. Wysocki, Ruud McGary. Efektywne zarządzanie projektami, wyd. III, Helion, Gliwice, 2005
            </p>
        </li>
    </ol>
    <ol start="5">
        <li>
            <p>
                Michał Trocki, Bartosz Grucza, Krzysztof Ogonek. Zarządzanie projektami. PWE. Warszawa, 2003.
            </p>
        </li>
    </ol>
    <ol start="6">
        <li>
            <p>
                Nancy Mingus. Zarządzanie projektami. Helion. Gliwice. 2002.
            </p>
        </li>
    </ol>
    <ol start="7">
        <li>
            <p>
                J. Davidson Frame. Zarządzanie projektami w organizacjach. MT&amp;DC. Warszawa, 2001.
            </p>
        </li>
    </ol>
    <ol start="8">
        <li>
            <p>
                Zdzisław Szyjewski. Zarządzanie projektami informatycznymi. Placet. Warszawa, 2001.
            </p>
        </li>
    </ol>
    <ol start="9">
        <li>
            <p>
                Joseph Phillips. Zarządzanie projektami IT. Helion. Gliwice, 2010.
            </p>
        </li>
    </ol>
    <ol start="10">
        <li>
            <p>
                „UX i analiza ruchu w sieci. Praktyczny poradnik" <a href="http://helion.pl/autorzy/michael-beasley,michaelbeasley.htm">Michael Beasley</a>,
                Wydawnictwo Helion, 2014
            </p>
        </li>
    </ol>
    <ol start="11">
        <li>
            <p>
„Funkcjonalność aplikacji mobilnych. Nowoczesne standardy UX i UI",<a href="http://helion.pl/autorzy/jakob-nielsen,nielja.htm">Jakob Nielsen</a>,                <a href="http://helion.pl/autorzy/raluca-budiu,ralucabudiu.htm">Raluca Budiu</a>, Wydawnictwo Helion, 2013
            </p>
        </li>
    </ol>
    <ol start="12">
        <li>
            <p>
„Funkcjonalność aplikacji mobilnych. Nowoczesne standardy UX i UI",<a href="http://helion.pl/autorzy/jakob-nielsen,nielja.htm">Jakob Nielsen</a>,                <a href="http://helion.pl/autorzy/raluca-budiu,ralucabudiu.htm">Raluca Budiu</a>, Wydawnictwo Helion, 2013
            </p>
        </li>
    </ol>

    <ol start="13">
        <li>
            <p>
„Projektowanie nawigacji strony WWW. Optymalizacja funkcjonalności witryny",                <a href="http://helion.pl/autorzy/james-kalbach,jameskalbach.htm">James Kalbach</a> , Wydawnictwo Helion, 2012
            </p>
        </li>
    </ol>
<a href="/static/chapter5"><b>Poprzedni rozdział</b></a>
</div> 