<div id="staticContent">
    <h1 class="text-center">Konkurs</h1>

    <p>
        Fundacja Media 3.0 ogłasza konkurs na społeczną aplikację mobilną lub webową dla uczestników i uczestniczek szkolnych klubów Lab 3.0, biorących udział w projekcie “Akademia 3.0 - apki.org”.
    </p>

    <p>
        Ideą konkursu jest promowanie partycypacji młodych ludzi w życiu społecznym poprzez tworzenie aplikacji webowych lub mobilnych służących celom społecznym.
    </p>

    <p>
        Prace konkursowe można zgłaszać indywidualnie lub drużynowo (maksymalnie 3 osoby).<br>
        Termin składania prac: 30 listopada 2015 r.<br>
        Szczegółowy opis techniczny (składanie prac przez repozytoria) znajduje się w <a href="contestRules">Regulaminie konkursu</a>.<br>
        Prace podlegają ocenie internautów i Kapitule Konkursu.<br>
        Nagrodą w konkursie są wysokiej jakości tablety oraz dodatkowe wsparcie mentorów na rozwijanie aplikacji.
    </p>
    <br>
    <div class="text-center" style="margin:30px"><a class="btn btn-primary btn-lg" href="/projects/new">Zgłoś projekt do konkursu!*</a><br><br>
    <small>* Należy zaznaczyć "praca konkursowa" dodając projekt. Opcja aktywna wyłącznie dla Edukatorów - zgłoś się do swojego Edukatora.</small></div>
    <br><br><br><br>
    <h2 id="contestRules" class="text-center">Regulamin konkursu na aplikację społeczną
        w ramach projektu “Akademia 3.0 - apki.org”</h2>
    <ol>
        <li style="font-weight: 400;"><span style="font-weight: 400;">Organizatorem konkursu jest Fundacja Media 3.0 ul. Gierymskiego 21B, 44-207 Rybnik, KRS: 00000483399, NIP: 642-318-47-89.</span></li>
        <li style="font-weight: 400;"><span style="font-weight: 400;">Regulamin określa zasady uczestnictwa w konkursie, kryteria oceny prac konkursowych oraz nagrody dla laureatów i laureatek.</span></li>
        <li style="font-weight: 400;"><span style="font-weight: 400;">Uczestnictwo w konkursie wiąże się z akceptacją niniejszego regulaminu.</span></li>
        <li style="font-weight: 400;"><span style="font-weight: 400;">Udział w konkursie jest dobrowolny i bezpłatny.</span></li>
        <li style="font-weight: 400;"><span style="font-weight: 400;">Ideą konkursu jest promowanie partycypacji młodych ludzi w życiu społecznym poprzez tworzenie aplikacji webowych lub mobilnych służących celom społecznym.</span></li>
        <li style="font-weight: 400;"><span style="font-weight: 400;">Uczestnikiem/uczestniczką konkursu może być uczeń/uczennica szkoły biorącej udział w projekcie, uczęszczający/-a na zajęcia w ramach klubów Lab 3.0.</span></li>
        <li style="font-weight: 400;"><span style="font-weight: 400;">Prace konkursowe mogą być zgłaszane przez indywidualne osoby (wskazane w pkt 3) lub drużyny składające się z maksymalnie 3 osób (z zastrzeżeniem pkt 3).</span></li>
        <li style="font-weight: 400;"><span style="font-weight: 400;">Prace konkursowe są zgłaszane za pośrednictwem edukatora Lab 3.0, biorącego udział w projekcie, który przechowuje formularz zgłoszeniowy ucznia/uczennicy oraz zgodę rodziców (w przypadku uczniów/uczennic niepełnoletnich) - Załącznik nr 1 do regulaminu.</span></li>
        <li style="font-weight: 400;"><span style="font-weight: 400;">Edukator tworzy repozytorium na portalu GitHub, na którym uczniowie realizują projekty konkursowe. Repozytorium edukator zgłasza na podstronie “Projekty” i zaznacza pole “Projekt konkursowy”.</span></li>
        <li style="font-weight: 400;"><span style="font-weight: 400;">Nie ma ograniczeń co do liczby zgłaszanych prac konkursowych.</span></li>
        <li style="font-weight: 400;"><span style="font-weight: 400;">Termin zgłaszania prac konkursowych: 5 X 2015 do 30 XI 2015.</span></li>
        <li style="font-weight: 400;"><span style="font-weight: 400;">Głosowanie internautów odbędzie się w dniach: 1 XII 2015 do 6 XII 2015.</span></li>
        <li style="font-weight: 400;"><span style="font-weight: 400;">Ogłoszenie wyników nastąpi nie później niż do 15 XII 2015.</span></li>
        <li style="font-weight: 400;"><span style="font-weight: 400;">Prace konkursowe muszą spełniać następujące warunki:</span></li>
    </ol>
    <p><span style="font-weight: 400;">a). aplikacja ma służyć celom społecznym </span></p>
    <p><span style="font-weight: 400;">b). aplikacja jest dziełem autorskim. W przypadku naruszenia praw autorskich odpowiedzialność za poniesioną szkodę ponosi uczestnik/uczestniczka konkursu lub jego opiekun prawny,</span></p>
    <p><span style="font-weight: 400;">c). aplikacja jest opublikowana na zasadach open source oraz oznaczona licencją umożliwiającą dowolne upublicznianie aplikacji z podaniem autorstwa w celach promocyjnych i edukacyjnych, z wykluczeniem celów komercyjnych (zalecana licencja: LGPL lub MIT),</span></p>
    <p><span style="font-weight: 400;">d).  zgłoszone na konkurs prace nie mogą naruszać praw innych osób, w szczególności majątkowych i osobistych praw autorskich.</span></p>
    <p><span style="font-weight: 400;">e). prace konkursowe powinny być zgodne z zasadami dobrych obyczajów, w szczególności nie mogą zwierać treści obscenicznych, dyskryminować lub propagować dyskryminacji ze względu na światopogląd, wyznawaną religię, płeć, rasę, narodowość, pochodzenie etniczne.</span></p>
    <ol>
        <li style="font-weight: 400;"><span style="font-weight: 400;">Wymagania techniczne aplikacji:</span></li>
    </ol>
    <p><span style="font-weight: 400;">Aplikacja może być stroną internetową (działającą pod najnowszą stabilną wersją Firefox lub Chrome), aplikacją mobilną Android (5.0.0) bądź iOS (7.1), aplikacją na Windows (Windows 7, Windows 8.1), Mac OS X (najnowszą wersję), Linux (Ubuntu najnowsza stabilna wersja). Ponadto, aplikacja musi spełniać następujące warunki (w zależności od wyboru formy):</span></p>
    <ul>
        <li style="font-weight: 400;"><span style="font-weight: 400;">Aplikacja w formie strony internetowej musi znajdować się na serwerze (np. tymczasowym) i pod ogólnodostępnym adresem,</span></li>
        <li style="font-weight: 400;"><span style="font-weight: 400;">Aplikacja w formie apki mobilnej Android musi być w formie pliku binarnego APK, na Google Play lub w formie kodu źródłowego (możliwego do skompilowania bez dodatkowej konfiguracji),</span></li>
        <li style="font-weight: 400;"><span style="font-weight: 400;">Aplikacja w formie apki mobilnej iOS musi być na Apple Store lub w formie kodu źródłowego (możliwego do skompilowania bez dodatkowej konfiguracji),</span></li>
        <li style="font-weight: 400;"><span style="font-weight: 400;">Aplikacja na Windows, Mac OS lub Linux musi być w formie binarnej odpowiedniej dla danego systemu lub formie kodu źródłowego (możliwego do skompilowania bez dodatkowej konfiguracji),</span></li>
        <li style="font-weight: 400;"><span style="font-weight: 400;">Jeżeli to wymagane to do aplikacji należy dołączyć instrukcję instalacji, którą można przeprowadzić w ciągu 10 minut korzystając z ogólnodostępnych narzędzi (czas liczony łącznie z pobieraniem np. dodatkowych pakietów!),</span></li>
        <li style="font-weight: 400;"><span style="font-weight: 400;">Kod źródłowy musi być dostępny na repozytorium GitHub. Repozytorium te uczestnicy zgłaszają na platformie projektowej</span><a href="http://apki.org"> <span style="font-weight: 400;">apki.org.</span></a></li>
    </ul>
    <ol>
        <li style="font-weight: 400;"><span style="font-weight: 400;">Osoba/drużyna zgłaszająca projekt wyraża zgodę na publikowanie projektu na serwisach Fundacji Media 3.0 i wykorzystywanie aplikacji do celów promocyjnych i edukacyjnych.</span></li>
        <li style="font-weight: 400;"><span style="font-weight: 400;">Zasady wyboru i oceny aplikacji:</span></li>
    </ol>
    <ul>
        <li style="font-weight: 400;"><span style="font-weight: 400;">zgłoszone projekty podlegają głosowaniu internautów, </span></li>
        <li style="font-weight: 400;"><span style="font-weight: 400;">w głosowaniu może wziąć udział każda zalogowana osoba,</span></li>
        <li style="font-weight: 400;"><span style="font-weight: 400;">w drodze głosowania zostaje wybrana aplikacja, która otrzymuje tytuł “Najlepszej aplikacji internautów”,</span></li>
        <li style="font-weight: 400;"><span style="font-weight: 400;">projekty podlegają ocenie ekspertów z zakresu programowania i kompetencji społecznych tworzących Kapitułę Konkursu</span></li>
        <li style="font-weight: 400;"><span style="font-weight: 400;">Kapituła Konkursu ocenia projekt wg kryteriów:</span></li>
    </ul>
    <ul>
        <li style="font-weight: 400;"><span style="font-weight: 400;">Przydatność społeczna: 1-5</span></li>
        <li style="font-weight: 400;"><span style="font-weight: 400;">Pomysł: 1-5</span></li>
        <li style="font-weight: 400;"><span style="font-weight: 400;">Wykonanie - część estetyczna: 1-3</span></li>
        <li style="font-weight: 400;"><span style="font-weight: 400;">Wykonanie - responsywność (w znaczeniu szybkości działania): 1-3</span></li>
        <li style="font-weight: 400;"><span style="font-weight: 400;">Wykorzystane technologie (punkty dodatkowe które mogą zostać przyznane za wykorzystanie niestandardowych lub nowych technologii, w tym: beacony, NFC, przetwarzanie big data, 3D, sztuczną inteligencję, czujniki odległości, narzędzia typu Kinect, Google Cardboard, rozszerzona rzeczywistość): 0-2</span></li>
    </ul>
    <ul>
        <li style="font-weight: 400;"><span style="font-weight: 400;">Kapituła Konkursu wyłania laureatów konkursu i przyznaje nagrody.</span></li>
    </ul>
    <ol>
        <li style="font-weight: 400;"><span style="font-weight: 400;">Decyzje Kapituły Konkursu mają charakter ostateczny i nie podlegają zaskarżeniu.</span></li>
        <li style="font-weight: 400;"><span style="font-weight: 400;">Ogłoszenie wyników zostanie opublikowane na platformie </span><a href="http://www.apki.org"><span style="font-weight: 400;">www.apki.org</span></a></li>
        <li style="font-weight: 400;"><span style="font-weight: 400;">Laureaci/laureatki konkursu zostaną powiadomieni mailowo o terminie i sposobie odbioru nagród.</span></li>
        <li style="font-weight: 400;"><span style="font-weight: 400;">Nagrodą w konkursie są wysokiej jakości tablety oraz dodatkowe wsparcie mentorów przy rozwijaniu aplikacji.</span></li>
        <li style="font-weight: 400;"><span style="font-weight: 400;">O podziale nagród decyduje Kapituła Konkursu.</span></li>
        <li style="font-weight: 400;"><span style="font-weight: 400;">Organizator zastrzega sobie prawo zmiany regulaminu.</span></li>
        <li style="font-weight: 400;"><span style="font-weight: 400;">Sytuacje nieobjęte niniejszym regulaminem rozstrzyga Organizator Konkursu.</span></li>
        <li style="font-weight: 400;"><span style="font-weight: 400;">Wszelkie informacje dotyczące Konkursu można uzyskać pod numerem telefonu Mentorów platformy apki.org: Jakub Król: 534-077-624 Jakub Syty: 534-077-618 oraz na forum użytkowników platformy apki.org</span></li>
    </ol>
</div>
