<div id="staticContent">

  <h1 class="text-center">Wyślij e-mail</h1>

  <p class="text-center"><a href="mailto:kontakt@media30.pl">kontakt@media30.pl</a></p><br>

  <h4 class="text-center">Dowiedz się więcej o projekcie od naszych pracowników:</h4>

  <p class="text-center"><strong>Koordynacja:</strong> Paulina Dróżdzel: <a href="mailto:p.drozdzel@media30.pl">p.drozdzel@media30.pl</a></p>
  <p class="text-center"><strong>Uczniowskie kluby Lab 3.0:</strong> Beata Matuszek: <a href="mailto:b.matuszek@media30.pl">b.matuszek@media30.pl</a></p>
  <p class="text-center"><strong>Portal apki.org:</strong> Jakub Król: <a href="mailto:j.krol@media30.pl">j.krol@media30.pl</a>, Jakub Syty: <a href="mailto:j.syty@media30.pl">j.syty@media30.pl</a></p>
  <p class="text-center"><strong>Materiały dydaktyczne:</strong> Barbara Halska: <a href="mailto:b.halska@media30.pl">b.halska@media30.pl</a></p>
  <p class="text-center"><strong>Promocja:</strong> Aleksandra Szorc: <a href="mailto:a.szorc@media30.pl">a.szorc@media30.pl</a></p>
  <p class="text-center">
  Odwiedź nas<br>
  Fundacja Media 3.0<br>
  ul. Krakowskie Przedmieście 37<br>
  00-071 Warszawa<br>
  (wejście od strony ul. Kozia 12)<br>
  Dane KRS:<br>
  Fundacja Media 3.0<br>
  ul. Gierymskiego 21 b<br>
  44-207 Rybnik<br>
  KRS: 0000483399<br>
  NIP: 6423184789<br>
  REGON: 243421087
  </p>
</div>