<% content_for :title, " - Konkurs" %>

<div id="staticContent">
    <h1 class="text-center mrg25b">Konkurs</h1>

    <center><img src="/images/puchar.png" class="mrg25b" alt=""></center>

    <p>
        Fundacja Media 3.0 ogłasza konkurs na społeczną aplikację mobilną lub webową dla uczestników i uczestniczek szkolnych klubów Lab 3.0, biorących udział w projekcie “Akademia 3.0 - apki.org”.
    </p>

    <p>
        Ideą konkursu jest promowanie partycypacji młodych ludzi w życiu społecznym poprzez tworzenie aplikacji webowych lub mobilnych służących celom społecznym.
    </p>

    <p>
        Prace konkursowe można zgłaszać indywidualnie lub drużynowo (maksymalnie 3 osoby).<br>
        Termin składania prac: 30 listopada 2015 r.<br>
        Szczegółowy opis techniczny (składanie prac przez repozytoria) znajduje się w <a href="/Regulaminkonkursu.pdf">Regulaminie konkursu</a>.<br>
        Prace podlegają ocenie internautów i Kapitule Konkursu.<br>
        Nagrodą w konkursie są wysokiej jakości tablety oraz dodatkowe wsparcie mentorów na rozwijanie aplikacji.
    </p>
    <br>
    <div class="text-center" style="margin:30px">
      <a class="btn btn-primary btn-lg" href="/projects/new">Zgłoś projekt do konkursu!*</a>
      <a class="btn btn-primary btn-lg" href="/projects/contest_projects">Lista projektów konkursowych*</a>
      <br><br>
    <small>* Należy zaznaczyć "praca konkursowa" dodając projekt. Opcja aktywna wyłącznie dla Edukatorów - zgłoś się do swojego Edukatora.</small></div>
</div>
