<% content_for :title, " Podręczik Apki.org" %>

<div id="staticContent">

  <h1 class="text-center">PROGRAMUJ APKI</h1>

<center><p>Wprowadzenie do programowania </p> </center>
<p>SPIS TREŚCI </p>

<ol start="1" ><li><p> <a href="http://apki.org/static/introduction">Wprowadzenie do programowania, omówienie języka oraz kompilatora /prof. Marlena Plebańska/ </a> </p>

</li>
</ol><ol start="2" ><li><p><a href="http://apki.org/static/chapter1">Typy podstawowe i złożone, omówienie typów zmiennych oraz ich zastosowanie /Barbara Halska/ </a> </p>

</li>
</ol><ol start="3" ><li><p><a href="http://apki.org/static/chapter2">Podstawowe funkcje, zapoznanie z wbudowanymi funkcjami oraz bibliotekami, które je obsługują /Barbara Halska/</a> </p>

</li>
</ol><ol start="4" ><li><p><a href="http://apki.org/static/chapter3">Programowanie obiektowe i funkcjonalne, przygotowanie funkcjonalnych aplikacji, analiza złożoności projektu, optymalizacja kodu /Paweł Bensel/</a> </p>

</li>
</ol><ol start="5" ><li><p><a href="http://apki.org/static/chapter4">Interakcja z otoczeniem (we/wy, bd), zapisywanie i odczytywanie wyników /Paweł Bensel/</a> </p>

</li>
</ol><ol start="6" ><li><p><a href="http://apki.org/static/chapter5">Interfejsy graficzne projektowanie interfejsu graficznego /Paweł Bensel/</a> </p>

</li>
</ol><ol start="7" ><li><p><a href="http://apki.org/static/chapter6">Zarządzanie projektem przeprowadzenie projektu przez procesy związane z zarządzaniem /prof. Marlena Plebańska/</a> </p>

</li>
</ol>

  
</div>