<div id="staticContent">

  <h1>Idea projektu</h1>
  <p>Idea projektu opiera się głównie na podniesieniu umiejętności młodych ludzi w zakresie posługiwania się narzędziami programistycznymi i wykorzystywaniu ich do pełniejszego partycypowania w życiu społecznym. Jest to przedsięwzięcie, które wyposaża młodzież w zaawansowane kompetencje ICT, otwiera drogę do samodzielnego programowania aplikacji mobilnych, webowych, ale także pozwala efektywnie wykorzystywać nabytą wiedzę w budowaniu społeczeństwa informacyjnego.</p>
<p>“Akademia 3.0 - apki.org” to jeden ze sposobów aktywności obywatelskiej. Dzięki platformie kursowej, szkoleniom z edukatorami i stałej opiece mentorskiej młodzież z całej Polski ma możliwość tworzenia narzędzi, które efektywnie będą wspierały społeczności lokalne np. poprzez wyszukiwanie ważnych dla danej grupy problemów społecznych, podniesienie przepływu informacji kulturalnych w swoim mieście lub sygnalizowanie bieżących potrzeb.
Pomysłów na wykorzystanie nowych technologii na pewno nie zabraknie.</p>
</div>