<% content_for :title, " - Idea projektu" %>

<div id="staticContent">

  <h1>Idea projektu</h1>
  <p>Dlaczego programowanie? Nie będziemy się rozwodzić, to wideo mówi wszystko, co chcielibyśmy powiedzieć:</p>
  <p style="position: relative;	padding-bottom: 56.25%; padding-top: 25px;	height: 0;"><iframe width="560" height="315" src="https://www.youtube.com/embed/1Ir9sYIj__A" frameborder="0" style="position: absolute;top: 0;	left: 0;width: 100%;height: 100%;" allowfullscreen alt="Wideo o programowaniu"></iframe></p>
  <h2>Dlaczego apki?</h2>
  <p>Uważamy, że najefektywniejszym sposobem nauki programowania jest realizacja własnych pomysłów i projektów. Na naszej platformie chcemy pokazywać, że już na początku swej drogi programisty można stworzyć narzędzia, które sprawią nam wiele frajdy i satysfakcji.  Chcemy pokazać, że dzięki narzędziom internetowym można zmieniać nie tylko nasze otoczenie, ale i świat!</p>
</div>




