<% content_for :title, "   WPROWADZENIE" %>

<div id="staticContent">
  <h1 class="chapter">
    WPROWADZENIE
</h1>
<p>
    /prof Marlena Plebańska/
</p>
<p>
    Zainteresowanie programowaniem, tworzeniem aplikacji towarzyszy ludziom już do wielu lat.
</p>
<p>
    Eksplozja Internetu, oprogramowania, gier, aplikacji, sprzętu sprawiły że świat zmienił się, przestał być analogowy, a stał się cyfrowy. Cyfrowy świat
    przybrał inne oblicze niż jego poprzednik, a cyfryzacji krok po kroku zaczęła podlegać każda dziedzina naszego życia. Od początków istnienia ludzkości
    technologie wiązały się z innowacjami. Już pierwsi ludzie, czerpiąc z wiedzy przodków, potrafili ulepszać otaczającą ich rzeczywistość, korzystając ze
    znanych im „nowych technologii”, począwszy od konstruowania coraz bardziej zaawansowanych przyrządów życia codziennego, a skończywszy na postępie w rozwoju
    zachowań społecznych. Zasada ta nie zmieniła się przez tysiące lat.
</p>
<p>
    W czasach nam współczesnych technologia stała się generatorem zmian, które na nowo zdefiniowały zwykły dzień współczesnego człowieka. Nowe technologie
    wspierają dziś większość naszych codziennych czynności - komputer, smartfon czy tablet towarzyszą ludziom na każdym kroku. Szczególnie istotne stają się
    technologie mobilne, które pozwalają na korzystanie z dobrodziejstw cyfryzacji niezależnie od miejsca czy czasu. To właśnie za pomocą mobilnych aplikacji
    codziennie sprawdzamy pogodę, czytamy informacje, robimy zakupy, dokonujemy przelewów bankowych i rezerwacji hoteli itp. Mobilne aplikacje wspomagają nas w
    codziennych czynnościach, usprawniają naszą pracę, ułatwiają zdobycie wiedzy z wielu dziedzin. Nie dziwi zatem fakt, iż coraz więcej młodych ludzi
    interesuje się programowaniem. To ciekawa, przydatna umiejętność, a zawód programisty często wymieniany jest w czołówce zawodów przyszłości. Programowanie
    jest dziedziną informatyki stale rozwijającą się, a programistów wciąż brakuje, klasy informatyczne w szkołach średnich oraz uczelnie techniczne są
    oblegane, młodzież chce programować, widzi w tej umiejętność konkretną wartość do wykorzystania w przyszłości.
</p>
<p>
    Niniejsza publikacja doskonale wpisuje się zatem nie tylko w światowe trendy, ale przede wszystkim w potrzeby młodych ludzi, którzy zarówno z samej
    publikacji, jak i z całego projektu „Akademia 3.0 - apki.org” czerpać mogą wiedzę oraz praktyczne umiejętności z zakresu programowania.
</p>
<p>
    Publikacja składa się z sześciu rozdziałów, w ramach których omówione zostały: typy zmiennych programistycznych oraz zasady ich zastosowania, podstawowe
    funkcje oraz biblioteki programistyczne. Przedstawione zostały również zasady programowania obiektowego, zasady funkcjonalnego przygotowania aplikacji,
    analiza złożoności projektu, zasady optymalizacji kodu oraz zasady interakcji z otoczeniem. W rozdziale piątym omówione zostały interfejsy graficzne oraz
    zasady ich projektowania. W ostatnim rozdziale przedstawiono natomiast najważniejsze zasady zarządzania projektem informatycznym oraz tworzenia
    metodycznego zarządzania pierwszym projektem informatycznym.
</p>
<p>
    Publikacja zawiera szereg praktycznych przykładów kodu, odniesień do praktyki programowania oraz przykładów optymalizacji kodu. Podręcznik jako integralna
    część platformy www.apki.org jest ściśle skorelowany z udostępnionymi na niej materiałami edukacyjnymi w postaci interaktywnych kursów programowania w
    najpopularniejszych językach. Uczeń, korzystając z podręcznika, może zdobyć podstawy wiedzy niezbędne do samodzielnego tworzenia pierwszych aplikacji.
    Podręcznik ułatwia także zaplanowanie całego procesu tworzenia własnej aplikacji, a liczne zgromadzone przykłady są inspiracją do tworzenia własnych
    autorskich rozwiązań.
</p>
<p>
    Zatem jeśli interesuje Cię programowanie i zastanawiasz się jak stworzyć swoją pierwszą aplikację, ta publikacja przeznaczona jest właśnie dla Ciebie.
    Informatyk to projektant przyszłości. Jeśli zatem chcesz projektować, kreować nowe rozwiązania, ta publikacja jest właśnie dla Ciebie. To świetny pierwszy
    krok, żeby zostać architektem przyszłości.
</p>
  <h2 class = "title">
    Jak należy pisać kod programu?
</h2>
<p>
    Tak jak w życiu w świecie programowania mamy do czynienia z unikalnymi językami. To samo zdanie możemy zapisać w różnych językach, i chociaż będzie ono
    inaczej wyglądać, będzie znaczyć to samo i będzie zrozumiałe dla osób, które znają dany język.
</p>
<p>
    np.
</p>
<p>
    język polski - Dzień dobry
</p>
<p>
    język angielski - Good morning
</p>
<p>
    język francuski - Bonjour
</p>

  <h2 class = "title">
    Pseudokod - a co to takiego?
</h2>
<p>
    Nie będzie zbyt odkrywcze, jeśli powiemy Wam, że pseudokod to po prostu coś, co przypomina kod, ale tak naprawdę nie jest żadnym językiem programowania.
    Wprawdzie stosujemy w nim ogólne instrukcje i schematy programowania, jednak nie jest konkretnym językiem.
</p>
<p>
    Pseudokod jest więc narzędziem, pozwalającym nam rozwiązać jakiś problem, zbudować pewien zarys, który następnie wykorzystamy, pisząc program w danym
    języku.
</p>
<p>
    Pseudokod można więc porównać z przepisem na wykonanie ciasta. Mamy podane wszystkie składniki oraz procedury, jakie musimy wykonać, aby upiec ciasto, nie
    jest natomiast ważne to, produktów jakiej firmy użyjemy.
</p>
<p>
    Przykład pseudokodu, który obrazuje procedurę sprawdzania czy zmienna a jest równa zmiennej b oraz to co ma się zadziać, kiedy warunek jest niespełniony
</p>
<h3 class = "example">
    Przykład
</h3>
 <code class=" hljs livecodeserver language-csharp">
zmienna a = 3
zmienna b = 6
jeżeli (a == b)
zwróć prawda;
inaczej
zwróć fałsz;

</code>
<p>
    Powyższy pseudokod jest oczywiście tylko prostym przykładem. Warto jednak pamiętać, że w bardziej złożonych problemach zawsze może Wam pomóc rozłożenia
    problemu na mniejsze kawałki.
</p>
  <h2 class = "title">
    Zamiast pseudokodu schemat blokowy
</h2>
<p>
    Schemat blokowy to graficzny zapis pseudokodu, a więc rozwiązania zadania, który mniej instrukcjami, ale schematem przedstawia opis oraz kolejność
    wykonywania instrukcji
</p>
<img src="">

<a href="/static/chapter1"><b>Następny rozdział</b></a> 
  

</div>