<% content_for :title, " Mapa Lab-ów " %>

<div id="staticContent">

  <h1>Mapa Lab-ów</h1>

<iframe src="https://www.google.com/maps/d/embed?mid=zi-desBGO2wQ.khvNDNimgokg" width="640" height="480"></iframe>

</div>