<div id="staticContent">

  <h1>Mentorzy</h1>

  <p>Projekt “Akademia 3.0 - apki.org” jest wspierany przez zespół profesjonalistów IT. Mentorzy platformy apki.org dzielą się swoją obszerną wiedzą z zakresu wykorzystywania narzędzi do tworzenia aplikacji. Wieloletnie doświadczenie, rzetelne wykształcenie oraz indywidualne osiągnięcia na arenie międzynarodowej stanowią zasób mentorów, z którego może skorzystać każdy, kto użytkuje platformę.</p>

  <p>Zachęcamy do kontaktu z mentorami poprzez FORUM użytkowników i użytkowniczek. Zadając pytania i otrzymując odpowiedzi w przestrzeni dostępnej dla wszystkich - każdy będzie miał szansę dołączyć do dyskusji i podzielić się swoimi wątpliwościami lub rozwiązaniami.</p>

  <h3>Kontakt indywidualny:</h3>

  <p><strong> Jakub Król:</strong> <a href="mailto:j.krol@media30.pl">j.krol@media30.pl</a></p> <!--  -->
  <p><strong>Jakub Syty:</strong> <a href="mailto:j.syty@media30.pl">j.syty@media30.pl</a></p>

</div>