<div id="staticContent">
  <h1 class="text-center">Partnerzy strategiczni</h1>
  <p class="text-center">
    <a href="https://mac.gov.pl/">
      <img src="/images/ministerstwoOK.png" alt="Ministerstwo Administracji i Cyfryzacji"/>
    </a><br><br>
    <a href="https://www.hackerearth.com/">
      <img src="/images/hackerearth-Kopiowanie-3.png" alt="Harker Earth"/>
    </a>
    <br/><br/>
    <a href="http://codeweek.eu/">
      <img src="/images/CodeWeek 2015 PL.png" alt="Code Week PL" height="150" width="150" />
    </a>
    <br/>
  </p>
  <h1 class="text-center">Patroni medialni</h1>
  <p class="text-center">
    <a href="http://programistamag.pl/">
      <img src="/images/Logo_Programista405px.jpg" alt="Magazyn Programista"/>
    </a><br><br>
    <a href="http://www.cogito.com.pl/">
      <img src="/images/cogito-Kopiowanie.gif" alt="Magazyn Cogito"/>
    </a><br><br>
    <a href="http://www.superbelfrzy.edu.pl/">
      <img src="/images/superbelfrzy-Kopiowanie.jpg" alt="Superbelfrzy"/>
    </a><br><br>
      <a href="http://www.komputerswiat.pl/">
          <img src="/images/ks_logo.png" height="150" alt="Komuter Świat" />
      </a><br><br>
      <a href="http://www.edulandia.pl/" target="_blank">
          <img src="/images/edulandia_2011.jpg" height="100" alt="Edulandia" />
      </a><br><br>
      <a href="http://geekgirlscarrots.org/" target="_blank">
          <img src="/images/gcc_logo_poziom.png" alt="Geek Girls Carrots" height="154" width="322" />
      </a><br><br>
      <a href="https://hs-silesia.pl/" target="_blank">
          <img src="/images/hackerspace.png" lang="en" alt="Hackerspace Silesia" />
      </a><br><br>
      <a href="http://ispot.pl//" target="_blank">
          <img src="/images/iSpot_APR.png" lang="en" alt="iSpot - Apple Premium Reseller" />
      </a><br><br>
  </p>
</div>
