<div id="staticContent">

  <h1>Ludzie projektu</h1>

  <h3>Platforma apki.org</h3>

  <p><strong>Jakub Król</strong> - twórca platformy apki.org, mentor i opiekun edukatorów w zakresie tworzenia aplikacji, trener nowoczesnych narzędzi do tworzenia aplikacji. W stopniu zaawansowanym i profesjonalnym pracuje w językach Delphi (wykorzystuje także sztuczną inteligencję oraz proste sieci neuronowe), PHP (własne frameworki), Javascript, Java, AJAX, specjalista w SQL. Jako uczeń technikum stworzył aplikację do analizy tekstu, z której korzystały m.in. Agora, Grupa Allegro. Wraz z grupą uczniów z Jastrzębia Zdroju stworzył system do komunikowania się osób niepełnosprawnych ESKONzO, który zmienił życie kilkudziesięciu osobom w całej Polsce. Za swe narzędzia nagradzany na międzynarodowych konkursach i targach na całym świecie złotymi medalami i wyróżnieniami (m.in. Seul, Paryż, Moskwa, Bruksela, Londyn, Taipei). Studiował informatykę na Politechnice Śląskiej.</p>

  <p><strong>Jakub Syty</strong> - mentor i opiekun edukatorów w zakresie tworzenia aplikacji, trener języków ruby, C#, Android/Java. Twórca kursu RubyOnRails. Programista web/mobile/desktop. Specjalizuje się w obsłudze baz danych oraz wspieraniu szerokiej gamy urządzeń mobilnych. Zwolennik czystego kodu, wzorców projektowych oraz frameworków. Główne języki programowania to: Java, C#, Python, Ruby (czasami także PHP). Studiuje informatykę na Politechnice Śląskiej. Koordynuje Akademię 3.0 oraz aplikację Parlament. Wraz z grupą uczniów z Jastrzębia Zdroju stworzył system do komunikowania się osób niepełnosprawnych ESKONzO, który zmienił życie kilkudziesięciu osobom w całej Polsce. Za swe narzędzia nagradzany na międzynarodowych konkursach i targach na całym świecie złotymi medalami i wyróżnieniami (m.in. Seul, Paryż, Moskwa, Bruksela, Londyn, Taipei).</p>

  <p><strong>Kamil Mrozek</strong> - twórca panelu administracyjnego platformy apki.org i podstrony uczniowskiego konkursu na aplikacje.
  Uczeń Technikum Informatycznego w ZST w Rybniku, fan social media. Programuje w językach: C#, JavaScript, PHP, HTML, CSS, Ruby. W swojej codziennej pracy korzysta z narzędzi takich jak: Brand24 czy Google Analytics.
  W ramach Akademii 3.0 rozwija pracuje nad rozwojem serwisu apki.org. Interesuje się także biznesem, rozwojem osobistym oraz tematyką startupową.</p>

  <p><strong>Sławomir Kozok</strong> - twórca kursu Python. Studiuje na wydziale automatyki i mechatroniki Politechnice Śląskiej w Gliwicach. Zajmuje się projektowaniem układów elektronicznych i ich programowaniem. Używa języka C i assemblera. Programowane układy pochodzą z rodzin PIC i AVR. Programuje także w Pythonie, C++ i wxWidgets. Za swe projekty elektroniczne nagradzany na całym świecie m.in. złoty medal Concours Lepine Paryż 2013, Nagroda Thomasa Edisona oraz Order Zasługi na Światowym Konkursie „World Inventor Award Festival 2013” w Seulu, dyplom Ministra Nauki i Szkolnictwa Wyższego za prezentowanie myśli innowacyjnej na świecie – Warszawa 2012 r.</p>

  <p><strong>Szymon Kaliski</strong> - twórca kursu Javascript. Kreatywny programista i artysta multimedialny zajmujący się projektowaniem i implementowaniem rozwiązań w przestrzeni przenikających się technologi, designu i sztuki. Zajmuje się szeroko pojętą wizualizacją danych, sztuką generatywną oraz muzyką eksperymentalną. Należy do zespołu badaczy centrum HAT (Humanities/Art/Technology), współtworzy projekty lowertone oraz datamotion.</p>


  <h3>Podręcznik “Programuj apki”</h3>

  <p><strong>Barbara Halska</strong> - redaktorka prowadząca i współautorka  podręcznika “Programuj apki”. Nauczycielka, laureatka nagrody Ministerstwa Edukacji Narodowej ­ “Nauczyciel roku 2014”, nauczycielka przedmiotów zawodowych na kierunku technik informatyk Zespole Szkół nr 6 w Jastrzębiu Zdroju, była ekspertka ds. przedmiotów matematyczno­informatycznych w projekcie E­podręcznik Ministerstwa Edukacji Narodowej. Koordynatorka projektów POKL. Współautorka podręczników, m.in. “Projektowanie lokalnych sieci komputerowych i administrowanie sieciami” wydawnictwa Helion. Jej uczniowie zdobywają nagrody i medale na międzynarodowych targach na całym świecie.</p>

  <p><strong>prof.  dr hab. inż. Marlena Plebańska</strong> - współautorka podręcznika “Programuj apki”. Jedna z prekursorek e-edukacji. Specjalizuje się w zarządzaniu wiedzą i Design Thinking. Liderka polskiego e-learningu. Autorka ponad stu publikacji  naukowych oraz kilkudziesięciu publikacji popularno-naukowych z zakresu e-edukacji. Od 16 lat projektuje, planuje strategie rozwiązań e-learningowych oraz zarządzania wiedzą w wielu polskich przedsiębiorstwach, szkołach i organizacjach pozarządowych. Jest aktywną trenerką i wykładowczynią. Prowadzi doradztwo dla MEN, MAiC i MNiSW. Pracownik naukowy Politechniki Warszawskiej, AFiB Vistula, Almamer Szkoły Wyższej.</p>

  <p><strong>Paweł Bensel</strong> - współautor podręcznika “Programuj apki”. Wykładowca Wyższej Szkoły Biznesu w Dąbrowie Górniczej. Twórca serwisu halo24.pl Współautor podręcznika do kwalifikacji E 13 “Projektowanie lokalnych sieci komputerowych i administrowanie sieciami. Podręcznik do nauki zawodu technik informatyk”.</p>


    <h3>Administracja i promocja</h3>

  <p><strong>Paulina Dróżdzel</strong> - koordynatorka ds. administracyjnych i rozliczania projektu. Administrowała i koordynowała projekty edukacyjne w ramach EFS POKL w Urzędzie Miasta Rybnika. Trenerka kompetencji społecznych (poziom 5 EQF – Starszego trenera) i zagadnień antydyskryminacyjnych. Prowadzi warsztaty twórczego pisania. Współpracowała m.in. z Powiatową i Miejską Biblioteką Publiczną w Rybniku, Gminną Biblioteką Publiczną w Jejkowicach, czasopismem SEDNO-Most, Domem Współpracy Polsko-Niemieckiej w Gliwicach. Absolwentka Uniwersytetu Śląskiego. Wiceprezeska Fundacji RE:AKCJA, gdzie zajmuje się tematyką antydyskryminacyjną.</p>

  <p><strong>Beata Matuszek</strong> - sprawuje opiekę nad klubami Lab 3.0 powstałymi w 16 miejscowościach z całej Polski. Na bieżąco kontaktuje się ze szkolnymi edukatorami biorącymi udział w projekcie. Organizuje szkolenia oraz buduje społeczność uczniów i uczennic wokół platformy apki.org. Od wielu lat związana z trzecim sektorem m.in. jako specjalistka od budowania strategii komunikacji i promocji oraz fundraisingu. Doradczyni mobilna programu Nowe Technologie Lokalnie. Wieloletnia koordynatorka projektów NGO (m.in. Działaj Lokalnie Polsko-Amerykańskiej Fundacji Wolności). Prowadzi szkolenia z wykorzystywania narzędzi ICT w organizacjach pozarządowych oraz w instytucjach publicznych. Ukończyła komparatystykę na UJ oraz komunikację społeczną na UŚ.</p>

  <p><strong>dr Michał Bernarczyk</strong> - prawnik, specjalista ds. przetwarzania informacji Ogólnopolskiej klasy specjalista prawa do informacji publicznej, zajmuje się problematyką przetwarzania informacji z wykorzystaniem nowych technologii (IT). Autor kilkudziesięciu artykułów i książek poświęconych tym zagadnieniom. Ekspert w Biurze Analiz Sejmowych, doradca Komisji Odpowiedzialności Konstytucyjnej Sejmu RP VII kadencji. Adiunkt w Katedrze Prawa Konstytycyjnego na Uniwersytecie Wrocławskim, Prowadzący i prelegent licznych szkoleń, wykładów adresowanych do sędziów, prokuratorów, administracji rządowej, samorządowej poświęconych dostępowi do informacji publicznej, ochronie informacji i jej ponownemu wykorzystywaniu.</p>


</div>