<p id="notice"><%= notice %></p>

<p>
  <strong>Data:</strong>
  <%= @course_lesson.data %>
</p>

<%= link_to 'Edit', edit_course_lesson_path(@course_lesson) %> |
<%= link_to 'Back', course_lessons_path %>
