/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 */

$icon-font-path: "/fonts/bootstrap/";

@import "_bootstrap";

@import "vendors";

@import "tomek";

$color-main: #955AA4;
$color-sec:  #a468b3;
$color-third:  #4f397f;
$color-text-on-main: #ffffff;

.navbar{
  left:0px;
  height:48px;
  padding-right: 5px;

  background-color: white;
  color:#955AA4;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.04);

  .nav{
    color:#955AA4;
    background-color: white;

    li a{
      color:#955AA4 !important;
    }
  }
  li a{
    color:#955AA4 !important;
  }
  li a:hover, li a:focus{
    background-color:#e7e7e7 !important;
  }
  .circular{
    border-style: none !important;
    background-color: rgba(0, 0, 0, 0.04);
  }
  li.active>a{
    background-color: rgb(164, 104, 179) !important;
    color: white !important;
  }
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus, .navbar-nav > .active > a:active{
  color: white !important;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > .dropdown > a:hover .caret, .navbar-default .navbar-nav > .dropdown > a:focus .caret, .navbar-default .navbar-nav > .dropdown > a .caret {
  color:#955AA4;
  border-bottom-color: #955AA4;
  border-top-color: #955AA4;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
  background-color: $color-sec;
  color: $color-text-on-main;
}

.navbar-brand{
  @extend .pad10t;
}

.navbar-brand img{
  z-index: 2;
  position: relative;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
  background-color: $color-sec;
  color: $color-text-on-main;
}

.navbar-nav > li > a{
  padding-top:15px;
  padding-bottom:15px;
}

.navbar.course-navbar{

  background-color: #955AA4;
  color:white;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.04);

  .nav{
    color:white;
    background-color: #955AA4;
  }
  li a{
    color:white !important;
  }
  li a:hover, li a:focus{
    background-color:#e7e7e7 !important;
  }
  .dropdown-menu li a{
    color:$color-main !important;
  }
  .dropdown-menu li a:hover{
    background-color:$color-main !important;
    color:white !important;
  }
  .circular{
    border-style: none !important;
    background-color: rgba(0, 0, 0, 0.04);
  }
}


.jumbotron{
  background-color: #d3d3d3;
}

.code-editor {
  @extend .pad0a;
  background-color: white;

  border-left:solid 1px #ccc;
}
.send-code-window,.code-ok-window {
  border: 1px solid #e5e5e5;
  border-left:solid 1px #ccc;
  background-color: white;
}
.exercise-console{
  background-color: white;
  border-style: none;
  border-radius: 0;

  .console-window{
    background-color: white;
    border-style: none;
    border-radius: 0;
    border-left:solid 1px #ccc;
  }
}
.readonly-highlight{
  background-color: rgb(188, 25, 8) !important;
  position: absolute;
  z-index: 99999;
  border: 1px black solid;
}
header{
  padding-top:60px;

  .user-profile{
    @extend .pad0b;

    padding-top:8px !important;
    height: 50px;
  }
}
.circular {
  border-radius: 10px;
  background-repeat: no-repeat;
  display: inline-block;
  background-position: center center;
  vertical-align: middle;
  border:1px solid #ccc;
}

@mixin doMrgPad($padMrg, $border, $px){
  #{$padMrg}#{$border}: $px+px !important;
}

$i: 25;
@while $i >= 0 {
  .mrg#{$i}t { @include doMrgPad(margin, -top, $i); }
  .mrg#{$i}b { @include doMrgPad(margin, -bottom, $i); }
  .mrg#{$i}l { @include doMrgPad(margin, -left, $i); }
  .mrg#{$i}r { @include doMrgPad(margin, -right, $i); }
  .mrg#{$i}a { @include doMrgPad(margin, '', $i); }
  .pad#{$i}t { @include doMrgPad(padding, -top, $i); }
  .pad#{$i}b { @include doMrgPad(padding, -bottom, $i); }
  .pad#{$i}l { @include doMrgPad(padding, -left, $i); }
  .pad#{$i}r { @include doMrgPad(padding, -right, $i); }
  .pad#{$i}a { @include doMrgPad(padding, '', $i); }
  $i: $i - 5;
}

body{
  background-color: #FBFBFB;
}


html,body{
  height: 100%
}

#holder{
  min-height: 100%;
  position:relative;
}

#content{
  padding-bottom: 155px;    /* height of footer */
}

footer{
  @extend .mrg0a;
  @extend .pad25a;

  height: 150px;
  width:100%;
  left: 0;
  bottom: 0;
  text-align: center;
  background-color: #FBFBFB;
  color: #898989;
  font-size:12px;

  p{
    font-size:12px;
  }
}

.buttons{
  @extend .pad5a;

  text-align:right;
  margin-left: 2px;
  border-top:2px solid #e7e7e7;
  margin-top:40px;

  .desc{
    display: inline-block;
    float: left;
    padding-top: 15px;
    font-size: 120%;
  }
}

#codeUserInput{
  @extend .pad10a;

  border-bottom-style: none;
  border-right-style: none;
  border-top:1px solid #e7e7e7;
  border-left:1px solid #ccc;
  background-color: #f8f8f8;
}

form{
  .caption{
    @extend .jumbotron;
    @extend .col-md-12;
    @extend .pad10a;
    @extend .mrg0a;
    background-color: white !important;
    margin-left: 5px !important;
  }
  .field-name{
    @extend .col-md-3;
    @extend .pad10a;

    text-align: right;
    font-size: 13px;

    @media screen and (max-width: 992px) {
      text-align: left;
    }


    small{
      @extend .help-block;
    }
  }
  .field-value{
    @extend .col-md-9;
    @extend .pad5a;
    > * {
      width: 100%;
    }
  }
}

//Overwrite:
.form-control-feedback{
  text-align: right;
  margin-top: 5px;
  margin-right: 15px;
}

.form-group{
  &.has-error .btn-group .btn-primary{
    @extend .btn-danger;
  }
  &.has-warning .btn-group .btn-primary{
    @extend .btn-warning;
  }
  &.has-success .btn-group .btn-primary{
    @extend .btn-success;
  }
}

#all_footnotes{
  @extend .jumbotron;
}

#courseContent{
  background-color: white;
  width: 100%;
  margin-top: -10px;

  .col{
    float:left;
    margin:0;

    &.first{
      color: #555;
      background-color: #f1f1f1;
      width:25%;
      max-width:250px;
      margin-right:-1px;
      overflow-y: auto;

      & a{
        color: #555;
      }

      ul {
        padding: 25px 5px 0px 20px;
        list-style-type: none;

        li{
          margin-bottom: 7px;
          overflow-x: hidden;
          padding-left: 1.4em;
          text-indent: -0.7em;

          a{
            margin-left: 5px;
          }
        }

        &>ul{
          padding-left:20px;
          padding-top: 0px;
          padding-bottom: 0px;
        }
      }
    }
    &.sec{
    }

    &.firstHidePanelBar{
      width:15px;
      text-align: center;
      cursor: pointer;
      color: #555;
      background-color: #f1f1f1;
      border-right: 1px solid #e7e7e7 !important;
      font-size: 40px;
    }
  }

  .secHidePanelBar{
    width:100%;
    height:15px;
    font-size: 40px;
    background-color: #a468b3;
    border-top:1px solid #955AA4;
    text-align: center;
    color: white;
    cursor: pointer;
    span.fa{
      margin-top: -2px !important;
      position: relative;
      top: -24px;
    }
  }

  #courseLessons{
    color: $color-text-on-main;
    width:100%;
    height:64px;
    background-color: $color-sec;
    margin-top:-1px;
    overflow-x: hidden;
    overflow-y: hidden;

    .oneLessonDiv{
      position: relative;
      z-index:2;

      &.title{
        @extend .text-center;

        font-size:8px;
      }

      div.img-circle{
        @extend .text-center;

        padding-top:12px;
//        border: 1px solid;
        background-color: #4f397f;
        width:50px;
        height:50px;
        margin-left: auto;
        margin-right: auto;
        font-size:18px;
        cursor:pointer;

        &>a{
          color: white;
        }

        &:hover{
          background-color: white;
          &>a{
            color: black;
          }
        }

        &.active{
          background-color: white;
          &>a{
            color: black;
          }
        }

        &.inactive{
          background-color: #955AA4;
          cursor:not-allowed;
          &>a{
            color: white;
            cursor:not-allowed;
          }
        }
      }
    }

    .lessonsProgressBar{
      margin-top: 24px;
      position: fixed;
      width: 100%;

      .progress{
        background-color: #955AA4;
        .progress-bar{
          background-color: #4f397f;
        }
      }
    }
  }

  #courseCnt{
    overflow-y: auto;

    .buttons{
      margin-bottom: 0px;
    }

    .course-article{
      padding:40px 25px 25px 60px;
      max-width:900px;
    }

    &.full-screen-art-element{
      overflow-y: hidden !important;

      >.course-article{
        padding:0px !important;
      }
    }

    .full-screen-element{
      width: 100%;
    }
  }
}

//spinner helper:
.spinner {
  display: inline-block;
  opacity: 0;
  width: 0;

  -webkit-transition: opacity 0.25s, width 0.25s;
  -moz-transition: opacity 0.25s, width 0.25s;
  -o-transition: opacity 0.25s, width 0.25s;
  transition: opacity 0.25s, width 0.25s;
}

.has-spinner.active {
  cursor:progress;
}

.has-spinner .not-spinner {
  display: inherit;
}

.has-spinner.active .not-spinner {
  display: none;
}

.has-spinner.active .spinner {
  opacity: 1;
  width: auto; /* This doesn't work, just fix for unkown width elements */
}

.has-spinner.btn-mini.active .spinner {
  width: 10px;
}

.has-spinner.btn-small.active .spinner {
  width: 13px;
}

.has-spinner.btn.active .spinner {
  width: 16px;
}

.has-spinner.btn-large.active .spinner {
  width: 19px;
}

.console-window{
  @extend .jumbotron;
  @extend samp;
  @extend pre;
  @extend .mrg0b;
  @extend .pad25a;
  height:100%;
}

.exercise-instruction{
  height:100%;
  overflow-y:auto;

  div.instruction{
    @extend .pad15a;
    @extend .mrg25t;
    @extend .mrg10b;

    background-color: #f1f1f1;
    border: 1px solid #e7e7e7;
    white-space: pre-wrap;

    &:before{
      @extend h2;
      content: "Zadanie\A";
    }
  }
}

#courseLoading{
  height: 9999px;
}

//Animations
@import "animate";

.content-visible-when-not-loading{
  @extend .animated;
  @extend .fadeIn;
}
.content-visible-when-not-loading.ng-hide-add.ng-hide-add-active{
//  display: block !important;
}
.content-visible-when-not-loading.ng-hide{
//  @extend .animated;
//  @extend .fadeOut;
}

//#courseLessonMenu{
//  @extend .animated;
//  @extend .slideInLeft;
//}
//#courseLessonMenu.ng-hide-add.ng-hide-add-active{
//  display: block !important;
//}
//#courseLessonMenu.ng-hide{
//  @extend .animated;
//  @extend .slideOutLeft;
//}

//#courseLessons{
//  @extend .animated;
//  @extend .slideInUp;
//}
//#courseLessons.ng-hide-add.ng-hide-add-active{
//  display: block !important;
//}
//#courseLessons.ng-hide{
//  @extend .animated;
//  @extend .slideOutDown;
//}

.course-tile{
  width:250px;
  height:350px;
  margin-left:auto;
  margin-right:auto;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.04) !important;
  text-align: center;
  border-style:none !important;
  transition: box-shadow 0.25s linear;
  cursor:pointer;

  &:hover{
    box-shadow: 0 0 5px rgba(0,0,0,0.5) !important;
    transition: box-shadow 0.25s linear;
  }

  &>.content{
    height: 305px;
    text-align: center;
    width:100%;

    .course-icon{
      width:125px;
      height:125px;
    }
    .level{
      position: absolute;
      right: 10px;
      top: 10px;
    }
    &>h2{
      @extend .mrg15b;
      @extend .mrg15t;
    }
  }
  &>.btn{
    & .fa{
      margin-top: 3px;
    }
  }

  &.project-tile{
    height:300px;
    &>.content{
      height:255px;
    }
  }
}

header.course-front-header{
  .go-back-ico{
    float:left;
    font-size:130%;
    color:$color-third;
    margin-top:12px;

    &:hover{
      color:white;

      & > img {
        opacity:0;
      }
    }
  }
}

//input::-webkit-input-placeholder, input:-moz-placeholder, input::-moz-placeholder, input:-ms-input-placeholder {
//  font-style: italic;
//  color: #999;
//}

.fullscreen_movie{
  @extend .text-center;

  background-color:black;
  height:100%;
  position: relative;

  &>iframe{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -280px;
    margin-top: -157px;

    &:fullscreen{
      position:relative;
      top:0;
      left:0;
    }
  }
  &>button{
    position: absolute;
    top: 15px;
    right: 15px;
  }
}

#quizForm{
  @extend .pad25a;

  max-width:900px;
}

.question-group{
  @extend .mrg25t;
}

.question-ans{
  @extend .mrg25l;

  font-size: 13px !important;
}

.course-tile:hover .btn{
  @extend .btn:hover;
}

.btn-tomka{
  border: 1px solid #955AA4;
  padding-top: 5px;
}

#mainPage{
  @extend .pad0a;
  @extend .mrg0a;

  height: 100%;
  margin-top: -10px !important;

  color:white;

  .background {
    background-repeat:no-repeat;
    /* custom background-position */
    background-position:50% 50%;
    /* ie8- graceful degradation */
    background-position:50% 50%\9 !important;
  }
  .fullscreen,
  .content-a {
    width:100%;
    min-height:100%;
    height: 100%;
  }
  .content-a {
    display:table;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .content-b {
    display:table-cell;
    position:relative;
    vertical-align:middle;
    text-align:center;
  }

  a{
    color:white;
  }

  a{
    color:white;
  }
}

.btn{
  white-space: initial;
}

#staticContent{
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  margin-top: -200px;
  border: 2px solid #e7e7e7;
  padding: 15px;
  padding-top: 200px;
  border-bottom: none;
  padding-bottom: 155px;
  margin-bottom: -155px;

  h1{
    margin-bottom:50px;
    margin-top:50px;
  }
}

.projectEditBtn{
  position: absolute;
  top: 60px;
  right: 140px;
}
.projectBackBtn{
  position: absolute;
  top: 60px;
  right: 20px;
}

#projectDetails{
  .projectUrlBtn{
    width:105px;
    height: 35px;
    padding-top: 7px;
  }

  .projInfo{
    @extend .pad15a;

    background-color: white;
    border: 1px solid #e7e7e7;

    .desc{
      @extend .mrg5b;

      font-weight: bold;
    }
    .descVal{
      @extend .mrg5b;
    }
  }

  .auhorsGrid{
    img{
      width:40px;
      height:40px;
      cursor:pointer;
    }
  }

  .cbp_tmtimeline > li .cbp_tmicon{
    left:5%;
  }
  .cbp_tmtimeline > li .cbp_tmlabel{
    margin-left:12%;
  }
  .cbp_tmtimeline:before{
    left:5%;
    bottom:60px;
  }
  a.btn.btn-default{
    color: $color-main !important;
  }
}
.cbp_tmtimeline .cbp_tmlabel small{
  color:white;
  font-size:40%;
}

.cbp_tmlabel a {
  color:white;
}
.cbp_tmlabel a:hover {
  color:#e7e7e7;
}

.betaInfo{
  position: absolute;
  left: 114px;
  top: 3px;
}

code{
  @extend .mrg25l;
  @extend .mrg25r;
  @extend .mrg10t;
  @extend .pad5a;

  display: block;
  overflow-x: auto;
}

.partners img{
  height: 50px;
  width: auto;
  margin: 15px;
}

.news-timeline{
  &.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel {
    background: white;
  }

  &.cbp_tmtimeline > li .cbp_tmlabel {
    color:black;
  }

  .cbp_tmlabel a {
    color: black;
  }

  &.cbp_tmtimeline .cbp_tmlabel small {
    color: black;
  }
}

ul.nav.navbar-nav{
  margin-left: 100px;
}

@media screen and (max-width: 1020px) {
  .navbar *{
    font-size:11px !important;
  }

  ul.nav li a{
    padding-left:10px;
    padding-right:8px;
  }
}

@media screen and (max-width: 767px) {
  header{
    padding-top:0px;

    .container-fluid{
      height: 50px;

      .navbar-toggle.collapsed{
        position: absolute;
        right: 20px;
        color: black;
      }
    }
  }
}