/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.code-editor {
  position: absolute;
  top: 0;
  width:100%;
  height:500px;
  left: 0;
  background-color: rgba(0, 0, 41, 0.86);
}
.readonly-highlight{
  background-color: rgb(188, 25, 8) !important;
  position: absolute;
  z-index: 99999;
  border: 1px black solid;
}
header{
  margin-top:60px;

  .user-profile{
    @extend .pad0b;

    padding-top:8px !important;
  }
}
.circular {
  border-radius: 10px;
  background-repeat: no-repeat;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  display: inline-block;
  background-position: center center;
  vertical-align: middle;
}

@mixin doMrgPad($padMrg, $border, $px){
  #{$padMrg}#{$border}: $px+px !important;
}

$i: 25;
@while $i >= 0 {
  .mrg#{$i}t { @include doMrgPad(margin, -top, $i); }
  .mrg#{$i}b { @include doMrgPad(margin, -bottom, $i); }
  .mrg#{$i}l { @include doMrgPad(margin, -left, $i); }
  .mrg#{$i}r { @include doMrgPad(margin, -right, $i); }
  .mrg#{$i}a { @include doMrgPad(margin, '', $i); }
  .pad#{$i}t { @include doMrgPad(padding, -top, $i); }
  .pad#{$i}b { @include doMrgPad(padding, -bottom, $i); }
  .pad#{$i}l { @include doMrgPad(padding, -left, $i); }
  .pad#{$i}r { @include doMrgPad(padding, -right, $i); }
  .pad#{$i}a { @include doMrgPad(padding, '', $i); }
  $i: $i - 5;
}

footer{
  @extend .mrg20t;
  @extend .jumbotron;

  text-align: center;
}

.buttons{
  @extend .jumbotron;
  @extend .pad10a;

  text-align:right;
}

form{
  .caption{
    @extend .jumbotron;
    @extend .col-md-12;
    @extend .pad10a;
    @extend .mrg0a;

    font-size: 18px;
  }
  .field-name{
    @extend .col-md-3;
    @extend .pad10a;

    font-weight: bold;
    text-align: right;

    @media screen and (max-width: 992px) {
      text-align: left;
    }


    small{
      @extend .help-block;
    }
  }
  .field-value{
    @extend .col-md-9;
    @extend .pad5a;
    > * {
      width: 100%;
    }
  }
}

//Overwrite:
.form-control-feedback{
  text-align: right;
  margin-top: 5px;
  margin-right: 15px;
}

.form-group{
  &.has-error .btn-group .btn-primary{
    @extend .btn-danger;
  }
  &.has-warning .btn-group .btn-primary{
    @extend .btn-warning;
  }
  &.has-success .btn-group .btn-primary{
    @extend .btn-success;
  }
}

#all_footnotes{
  @extend .jumbotron;
}

#peek {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1500;
}

#courseContent{
  width: 100%;
  margin-top: -10px;

  .col{
    float:left;
    margin:0;

    &.first{
      width:180px;
      background-color: $gray-lighter;
      margin-right:-1px;
      border-right:{
        width: 1px;
        style: solid;
        color: #e7e7e7;
      }
      overflow-y: auto;

      ul {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        list-style-type: none;

        li{
          margin-bottom: 5px;
          overflow-x: hidden;
          padding-left: 1.4em;
          text-indent: -0.7em;
        }

        &>ul{
          padding-left:20px;
          padding-top: 0px;
          padding-bottom: 0px;
        }
      }
    }
    &.sec{
    }

    &.firstHidePanelBar{
      width:10px;
      background-color: $gray-light;
      text-align: center;
      color: white;
      cursor: pointer;
    }
  }

  .secHidePanelBar{
    width:100%;
    height:10px;
    line-height:10px;
    background-color: $gray-light;
    text-align: center;
    color: white;
    cursor: pointer;
  }

  #courseLessons{
    width:100%;
    height:110px;
    background-color: $gray-lighter;
    margin-top:-1px;
    border-top:{
      width: 1px;
      style: solid;
      color: #e7e7e7;
    }
  }

  #courseCnt{
    overflow-y: auto;

    .buttons{
      margin-bottom: 0px;
    }

    .course-article{
      padding:25px;
    }

    &.full-screen-art-element{
      overflow-y: hidden !important;

      >.course-article{
        padding:0px !important;
      }
    }

    .full-screen-element{
      width: 100%;
    }
  }
}

//spinner helper:
.spinner {
  display: inline-block;
  opacity: 0;
  width: 0;

  -webkit-transition: opacity 0.25s, width 0.25s;
  -moz-transition: opacity 0.25s, width 0.25s;
  -o-transition: opacity 0.25s, width 0.25s;
  transition: opacity 0.25s, width 0.25s;
}

.has-spinner.active {
  cursor:progress;
}

.has-spinner .not-spinner {
  display: inherit;
}

.has-spinner.active .not-spinner {
  display: none;
}

.has-spinner.active .spinner {
  opacity: 1;
  width: auto; /* This doesn't work, just fix for unkown width elements */
}

.has-spinner.btn-mini.active .spinner {
  width: 10px;
}

.has-spinner.btn-small.active .spinner {
  width: 13px;
}

.has-spinner.btn.active .spinner {
  width: 16px;
}

.has-spinner.btn-large.active .spinner {
  width: 19px;
}

.glyphicon.spinning {
  animation: spin 1s infinite linear;
  -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg);}
  to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg);}
  to { -webkit-transform: rotate(360deg);}
}