/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "pagedown_bootstrap";
@import "font-awesome";
@import "bootstrap-select.css";

@import "peek";
@import "peek/views/performance_bar";
@import "peek/views/rblineprof";
@import "peek/views/rblineprof/pygments";

.code-editor {
  position: absolute;
  top: 0;
  width:100%;
  height:500px;
  left: 0;
  background-color: rgba(0, 0, 41, 0.86);
}
.readonly-highlight{
  background-color: rgb(188, 25, 8) !important;
  position: absolute;
  z-index: 99999;
  border: 1px black solid;
}
header{
  margin-top:60px;

  .user-profile{
    @extend .pad0b;

    padding-top:8px !important;
  }
}
.circular {
  border-radius: 10px;
  background-repeat: no-repeat;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  display: inline-block;
  background-position: center center;
  vertical-align: middle;
}

@mixin doMrgPad($padMrg, $border, $px){
  #{$padMrg}#{$border}: $px+px !important;
}

$i: 25;
@while $i >= 0 {
  .mrg#{$i}t { @include doMrgPad(margin, -top, $i); }
  .mrg#{$i}b { @include doMrgPad(margin, -bottom, $i); }
  .mrg#{$i}l { @include doMrgPad(margin, -left, $i); }
  .mrg#{$i}r { @include doMrgPad(margin, -right, $i); }
  .mrg#{$i}a { @include doMrgPad(margin, '', $i); }
  .pad#{$i}t { @include doMrgPad(padding, -top, $i); }
  .pad#{$i}b { @include doMrgPad(padding, -bottom, $i); }
  .pad#{$i}l { @include doMrgPad(padding, -left, $i); }
  .pad#{$i}r { @include doMrgPad(padding, -right, $i); }
  .pad#{$i}a { @include doMrgPad(padding, '', $i); }
  $i: $i - 5;
}

footer{
  @extend .mrg20t;
  @extend .jumbotron;

  text-align: center;
}

.buttons{
  @extend .jumbotron;
  @extend .pad10a;

  text-align:right;
}

form{
  .caption{
    @extend .jumbotron;
    @extend .col-md-12;
    @extend .pad10a;
    @extend .mrg0a;

    font-size: 18px;
  }
  .field-name{
    @extend .col-md-3;
    @extend .pad10a;

    font-weight: bold;
    text-align: right;

    @media screen and (max-width: 992px) {
      text-align: left;
    }


    small{
      @extend .help-block;
    }
  }
  .field-value{
    @extend .col-md-9;
    @extend .pad5a;
    > * {
      width: 100%;
    }
  }
}

//Overwrite:
.form-control-feedback{
  text-align: right;
  margin-top: 5px;
  margin-right: 15px;
}

.form-group{
  &.has-error .btn-group .btn-primary{
    @extend .btn-danger;
  }
  &.has-warning .btn-group .btn-primary{
    @extend .btn-warning;
  }
  &.has-success .btn-group .btn-primary{
    @extend .btn-success;
  }
}

#all_footnotes{
  @extend .jumbotron;
}

#peek {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1500;
}