<p id="notice"><%= notice %></p>

<p>
  <strong>Data:</strong>
  <%= @course_quiz.data %>
</p>

<%= link_to 'Edit', edit_course_quiz_path(@course_quiz) %> |
<%= link_to 'Back', course_quizzes_path %>
