<center><h1><%= @category.name %></h1> </center>
  

<%- @articles.each do |single| -%>
  <h1><%= link_to single.title, view_article_path(single) -%></h1>
  <hr>
<%- end -%>
<%= paginate @articles -%>

