<%= render 'layouts/headers' %>
<body data-no-turbolink="true">
<%= render "layouts/main_menu" %>
<div id="courseContent" ng-app="courseApp" ng-controller="myCtrl" ng-init="courseId='<%= params[:id] %>'; initCourse()">
    <div id="courseLoading" class="text-center col-md-10 col-md-offset-1 mrg25t" ng-hide="inited">
        <div class="progress progress-striped active">
            <div class="progress-bar" role="progressbar" style="width: 100%;">
                Wczytywanie kursu...
            </div>
        </div>
    </div>
    <div ng-hide="!inited" class="content-visible-when-not-loading">
        <div id="courseLessonMenu" class="first col" ng-hide="resizeElements(1);!menuVisible.left">
            <ul>
                <li><i class="glyphicon glyphicon-align-justify"></i> <a href="#" ng-click="goToPart('article')">Artykuł</a></li>
                <ul class="article-parsed">
                </ul>
                <li ng-hide="!quizzes.length" class="menu-quiz menu-to-check"><i class="glyphicon glyphicon-check"></i> <a href="#" ng-click="goToPart('quiz')">Quiz</a></li>
                <li ng-hide="!exercises.length" ng-repeat="exerc in exercises" class="menu-exerc-{{exerc.id}} menu-to-check"><i class="glyphicon glyphicon-console"></i> <a ng-if="getLesson().data.exercisesPassed.indexOf(exerc.id)>-1" href="#" ng-click="goToPart('exercise', exerc.id)">{{ exerc.data.title?exerc.data.title:'Zadanie' }}</a><span ng-if="getLesson().data.exercisesPassed.indexOf(exerc.id)==-1" style="color:#E8E8E8">{{ exerc.data.title?exerc.data.title:'Zadanie' }}</span></li>
            </ul>
        </div>
        <div class="col col-line-height-100-pro firstHidePanelBar" ng-click="hidePanelBarClick('left')">||</div>
        <div id="courseCnt" class="sec col">
            <div class="course-article course-element" ng-hide="!isPartVisible('article')" ng-bind-html="getLesson().data.article | to_trusted">
            </div>

            <div class="buttons" ng-hide="!isPartVisible('article')">
                To już wszystko w tej części lekcji <input type="submit" class="btn btn-lg btn-primary btn-save" value="Kliknij tutaj aby przejść dalej" ng-click="goToPart('quiz')">
            </div>

            <div class="course-quiz course-element" ng-hide="!isPartVisible('quiz')">
                <form id="quizForm">
                    <div class="caption">Quiz</div>

                    <div class="form-group q-{{quiz.id}}" ng-repeat="(key, quiz) in quizzes" autostatusremoval>
                        <div class="field-name">
                            <small>{{ quiz.data.question }}</small>
                        </div>
                        <div class="field-value">
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-primary" ng-repeat="(ans_idx, ans) in quiz.data.answers" ng-disabled="quizzesAreCorrect">
                                    <input data-quiz-id="{{quiz.id}}" type="radio" id="quiz_question_{{quiz.id}}_{{ans_idx}}" name="quiz_question_{{quiz.id}}" value="{{ans_idx}}" class="mrg5r"> {{ans}}
                                </label>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                    </div>

                    <div class="buttons" ng-hide="quizzesAreCorrect">
                        <button ng-disabled="quizChecking" ng-class="quizChecking?'active':''" type="button" ng-click="checkQuiz(this, $event)" class="btn btn-lg btn-primary btn-save has-spinner"><span class="spinner"><i class="glyphicon spinning glyphicon-refresh"></i></span><span class="not-spinner">Sprawdź odpowiedzi</span></button>
                    </div>
                </form>
            </div>

            <div class="buttons" ng-hide="!quizzesAreCorrect || !isPartVisible('quiz')">
                Udzieliłeś poprawnych odpowiedzi na wszystkie pytania <input type="submit" class="btn btn-lg btn-primary btn-save" value="Kliknij tutaj aby przejść dalej" ng-click="goToPart('exercise')">
            </div>

            <div class="course-exercise course-element" ng-hide="!isPartVisible('exercise')">
                <div class="col-md-5 mrg0a pad0a">
                    <div class="exercise-instruction">
                        <div class="pad25a" ng-bind-html="getExercise().data.content_of_exercise | to_trusted">
                        </div>
                    </div>
                </div>
                <div class="col-md-7 pad0a code-etc-window">
                    <div class="code-editor" id="editorTest" codeeditor source-lang="{{ getExercise().data.lang | server_source_lang_to_ace_lang }}" ng-if="getExercise()!==null" exerc-id="{{ getExercise().id }}"></div>
                    <div class="user-input-window" ng-hide="!getExercise().data.allow_user_input">
                        <input type="text" id="codeUserInput" value="{{ getExercise().data.default_user_input }}" style="width:100%" placeholder="Dane wejściowe (pusty)">
                    </div>
                    <div class="send-code-window buttons pad0a mrg0a" ng-hide="exerciseIsCorrect">
                        <button ng-disabled="quizChecking" ng-class="exerciseChecking?'active':''" type="button" ng-click="checkExercise(this, $event)" class="btn btn-lg btn-primary btn-save has-spinner mrg5r" style="margin-top: 4px;"><span class="spinner"><i class="glyphicon spinning glyphicon-refresh"></i></span><span class="not-spinner">Sprawdź odpowiedź</span></button>
                    </div>
                    <div class="code-ok-window buttons pad0a mrg0a" ng-hide="!exerciseIsCorrect || !isPartVisible('exercise')">
                        Gratulacje, Twój kod jest poprawny <input type="submit" class="btn btn-lg btn-primary btn-save mrg5r" style="margin-top: 4px;" value="Kliknij tutaj aby przejść dalej" ng-click="goToPart('exercise')">
                    </div>
                    <div class="pad0a exercise-console">
                        <div class="console-window mrg0a" ng-bind-html="exerciseCurrOutput | to_trusted">
                        </div>
                    </div>
                </div>
            </div>
            <div class="course-end course-element text-center pad25a" ng-hide="!isPartVisible('end')">
                <h2>Gratulacje, ukończyłeś lekcję <i>{{ getLesson().data.title }}</i>!</h2>
                <div ng-if="!isCourseFinished()">
                    <button ng-click="nextLesson()" class="btn btn-lg btn-primary mrg25a">Przejdź do następnej lekcji</button>
                </div>
                <div ng-if="isCourseFinished()">
                    <h2>Gratulacje, ukończyłeś kurs <i>{{ course.data.title }}</i>! To już wszystko co przygotowaliśmy dla Ciebie w tym kursie.</h2>
                    <a href="/courses_list" class="btn btn-lg btn-primary mrg25a">Sprawdź nasze inne kursy</a>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="secHidePanelBar" ng-click="hidePanelBarClick('bottom')">=</div>
        <div id="courseLessons" ng-hide="resizeElements(1);!menuVisible.bottom">
            <div class="oneLessonDiv pad10t" style="float:left" ng-repeat="less in lessons">
                <div class="img-circle" ng-class="getScope().course.data.lessonCurrent==less.id?'active':(getScope().course.data.lessonsPassed.indexOf(less.id)>-1?'':'inactive')" ng-click="userGoToLesson(less.id)"><a href="javascript:;">{{ $index + 1 }}</a></div>
            </div>

            <div class="clearfix"></div>
            <div class="lessonsProgressBar">
                <div class="progress active" style="height:5px">
                    <div class="progress-bar" role="progressbar" ng-style="countLessonProgress()">
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>
            <div class="oneLessonDiv title" style="float:left" ng-repeat="less in lessons">
                {{ less.data.title }}
            </div>
        </div>
    </div>
</div>
</body>
</html>