<%= render 'layouts/headers' %>
<body data-no-turbolink="true">
<%= render "layouts/main_menu" %>
<div id="courseContent" ng-app="courseApp" ng-controller="myCtrl" ng-init="courseId='55af6445694d610c69000005'; initCourse()">
    <div id="courseLoading" class="text-center col-md-10 col-md-offset-1 mrg25t" ng-hide="inited">
        <div class="progress progress-striped active">
            <div class="progress-bar" role="progressbar" style="width: 100%;">
                Wczytywanie kursu...
            </div>
        </div>
    </div>
    <div ng-hide="!inited">
        <div id="courseLessonMenu" class="first col" ng-hide="resizeElements(1);!menuVisible.left">
            <ul>
                <li><i class="glyphicon glyphicon-align-justify"></i> <a href="#" ng-click="goToPart('article')">Artykuł</a></li>
                <ul class="article-parsed">
                </ul>
                <li ng-hide="!quizzes.length"><i class="glyphicon glyphicon-check"></i> <a href="#" ng-click="goToPart('quiz')">Quiz</a></li>
                <li ng-hide="!exercises.length"><i class="glyphicon glyphicon-console"></i> <a href="#" ng-click="goToPart('exercise')">Zadanie</a></li>
            </ul>
        </div>
        <div class="col col-line-height-100-pro firstHidePanelBar" ng-click="hidePanelBarClick('left')">||</div>
        <div id="courseCnt" class="sec col">
            <div class="course-article course-element" ng-hide="!isPartVisible('article')" ng-bind-html="getLesson().data.article | to_trusted">
            </div>

            <div class="buttons" ng-hide="!isPartVisible('article')">
                To już wszystko w tej części lekcji <input type="submit" class="btn btn-lg btn-primary btn-save" value="Kliknij tutaj aby przejść dalej" ng-click="goToPart('quiz')">
            </div>

            <div class="course-quiz course-element" ng-hide="!isPartVisible('quiz')">
                <form id="quizForm">
                    <div class="caption">Quiz</div>

                    <div class="form-group q-{{quiz.id}}" ng-repeat="(key, quiz) in quizzes" autostatusremoval>
                        <div class="field-name">
                            <small>{{ quiz.data.question }}</small>
                        </div>
                        <div class="field-value">
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-primary" ng-repeat="(ans_idx, ans) in quiz.data.answers" ng-disabled="quizzesAreCorrect">
                                    <input data-quiz-id="{{quiz.id}}" type="radio" id="quiz_question_{{quiz.id}}_{{ans_idx}}" name="quiz_question_{{quiz.id}}" value="{{ans_idx}}" class="mrg5r"> {{ans}}
                                </label>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                    </div>

                    <div class="buttons" ng-hide="quizzesAreCorrect">
                        <button ng-disabled="quizChecking" ng-class="quizChecking?'active':''" type="button" ng-click="checkQuiz(this, $event)" class="btn btn-lg btn-primary btn-save has-spinner"><span class="spinner"><i class="glyphicon spinning glyphicon-refresh"></i></span><span class="not-spinner">Sprawdź odpowiedzi</span></button>
                    </div>
                </form>
            </div>

            <div class="buttons" ng-hide="!quizzesAreCorrect || !isPartVisible('quiz')">
                Udzieliłeś poprawnych odpowiedzi na wszystkie pytania <input type="submit" class="btn btn-lg btn-primary btn-save" value="Kliknij tutaj aby przejść dalej" ng-click="goToPart('exercise')">
            </div>

            <div class="course-exercise course-element" ng-hide="!isPartVisible('exercise')">
                <div class="col-md-5 mrg0a pad0a">
                    <div class="exercise-instruction">
                        <div class="pad25a exercise-instruction" ng-bind-html="getExercise().data.content_of_exercise | to_trusted">
                        </div>
                    </div>
                    <div class="pad0a exercise-console">
                        <div class="console-window" ng-bind-html="exerciseCurrOutput | to_trusted">
                        </div>
                    </div>
                </div>
                <div class="col-md-7 pad0a code-etc-window">
                    <div class="code-editor" id="editorTest" codeeditor source-lang="{{ getExercise().data.lang | server_source_lang_to_ace_lang }}" ng-if="getExercise()!==null">{{ getExercise().data.code }}</div>
                    <div class="user-input-window" ng-hide="!getExercise().data.allow_user_input">
                        <input type="text" id="codeUserInput" value="{{ getExercise().data.default_user_input }}">
                    </div>
                    <div class="send-code-window buttons pad0a">
                        <button ng-disabled="quizChecking" ng-class="exerciseChecking?'active':''" type="button" ng-click="checkExercise(this, $event)" class="btn btn-lg btn-primary btn-save has-spinner"><span class="spinner"><i class="glyphicon spinning glyphicon-refresh"></i></span><span class="not-spinner">Sprawdź odpowiedź</span></button>
                    </div>
                    <div class="code-ok-window buttons pad0a" ng-hide="!exerciseIsCorrect || !isPartVisible('exercise')">
                        Gratulacje, Twój kod jest poprawny <input type="submit" class="btn btn-lg btn-primary btn-save" value="Kliknij tutaj aby przejść dalej" ng-click="goToPart('exercise')">
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="secHidePanelBar" ng-click="hidePanelBarClick('bottom')">=</div>
        <div id="courseLessons" ng-hide="resizeElements(1);!menuVisible.bottom">
            <div class="pad25a">
                <div class="progress active" style="height:5px">
                    <div class="progress-bar" role="progressbar" style="width: 50%;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>