<%= render 'layouts/headers' %>
<body data-no-turbolink="true">
<%= render "layouts/main_menu" %>
<div id="courseContent" ng-app="courseApp" ng-controller="myCtrl" ng-init="initCourse()">
    <div id="courseLessonMenu" class="first col">

    </div>
    <div id="courseCnt" class="sec col">

    </div>
    <div class="clearfix"></div>
    <div id="courseLessons">

    </div>
</div>
</body>
</html>