<%= render 'layouts/headers' %>
<body data-no-turbolink="true">
<<<<<<< HEAD
<%= render 'layouts/main_menu' %>
<article id="courseContent" class="col-md-12">
    <div ng-app="myApp" ng-controller="myCtrl">
=======
<%= render "layouts/main_menu" %>
<div id="courseContent" ng-app="courseApp" ng-controller="myCtrl" ng-init="initCourse()">
    <div id="courseLessonMenu" class="first col">
>>>>>>> origin/master

    </div>
    <div id="courseCnt" class="sec col">

    </div>
    <div class="clearfix"></div>
    <div id="courseLessons">

    </div>
</div>
</body>
</html>