<script type="text/javascript">
    $(function(){
        $('#peek').append('<button style="display:block; float:right; height:35px" class="openCloseBtn">&lt;- DEBUG -&gt;</button>')
        $('#peek .openCloseBtn').click(function(){
            var oldPeekWidth = $('#peek').width();
            if (parseInt($('#peek').css('left'))==0)
                $('#peek').animate({'right':(oldPeekWidth-15)+'px', 'left':'-'+(oldPeekWidth-15)+'px'}, 500);
            else
                $('#peek').animate({'right':'0px', 'left':'0px'}, 500)
        }).click();
    });
</script>